# Configuration de la connexion à la base de données

In [2]:
import pandas as pd 
import cx_Oracle
import sys
import os

%pylab inline
%load_ext sql

Populating the interactive namespace from numpy and matplotlib

In [3]:
# On Linux this must be None.
# Instead, the Oracle environment must be set before Python starts.
instant_client_dir = None

if sys.platform.startswith("win"):
    instant_client_dir = r"C:\instantclient_21_3"

# On macOS (Intel x86) set the directory to your Instant Client directory
if sys.platform.startswith("darwin"):
    instant_client_dir = os.environ.get("HOME")+"/instantclient_19_8"

# This can be called at most once per process.
if instant_client_dir is not None:
    cx_Oracle.init_oracle_client(lib_dir=instant_client_dir)

utilisateur = os.environ.get("PYTHON_USER", "stag26")

connexion = os.environ.get("PYTHON_CONNECT_STRING", "51.91.76.248:15440/coursdb")

password = os.environ.get("PYTHON_PASSWORD", "Phoenix#Icar79")

print('utilisateur :',utilisateur)
print('connexion   :',connexion)
print('password    :',password)

utilisateur : stag26
connexion   : 51.91.76.248:15440/coursdb
password    : Phoenix#Icar79

# Connexion

In [4]:
connection = cx_Oracle.connect(utilisateur, password, connexion)

In [5]:
%sql oracle+cx_oracle://stag26:Phoenix#Icar79@51.91.76.248:15440/coursdb

'Connected: stag26@coursdb'

In [6]:
print(f"Version base de données : {connection.version}\n"+
      f"Utilisateur             : {connection.username}\n"+
      f"Page de code            : {connection.encoding}\n"+
      f"Chaine de connexion     : {connection.dsn}")

Version base de données : 18.0.0.0.0
Utilisateur             : stag26
Page de code            : UTF-8
Chaine de connexion     : 51.91.76.248:15440/coursdb

# Fonctions d’arrondis
## ABS

In [8]:
%sql SELECT ABS(-10),ABS(0),ABS(1) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(10, 0, 1)]

## SIGN

In [9]:
%sql SELECT SIGN(-10),SIGN(0),SIGN(20) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(-1, 0, 1)]

## CEIL

In [10]:
%sql SELECT CEIL(-10.23),CEIL(0),CEIL(20.23) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(-10, 0, 21)]

## FLOOR

In [11]:
%sql SELECT FLOOR(-10.23),FLOOR(0),FLOOR(20.23) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(-11, 0, 20)]

## ROUND

In [12]:
%sql SELECT ROUND(-10.2326,2),ROUND(10.2366,3),ROUND(-10.2326) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(Decimal('-10.23'), Decimal('10.237'), -10)]

In [13]:
%sql SELECT ROUND(102356,-2),ROUND(102326,-3),ROUND(102326) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(102400, 102000, 102326)]

In [16]:
%sql SELECT ROUND(-10.2326,2),ROUND(10.2366,3),ROUND(-10.2326) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(Decimal('-10.23'), Decimal('10.237'), -10)]

## TRUNC

In [17]:
%sql SELECT TRUNC(10.2326,2),TRUNC(10.2376,2), TRUNC(102826,-3),TRUNC(10.2326) FROM DUAL

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(Decimal('10.23'), Decimal('10.23'), 102000, 10)]

# Atelier 4.2	Les fonctions numériques
Écrivez les requêtes vous permettant d’afficher :

>> * Les employés et leur salaire journalier (salaire / 20) arrondi à l’entier inférieur.
>> * Les employés et leur salaire journalier (salaire / 20) arrondi à l’entier supérieur.
>> * Les produits commercialisés, la valeur du stock, les unités en stock fois le prix unitaire, arrondie à la centaine près.
>> * Les produits commercialisés, la valeur du stock, les unités en stock fois le prix unitaire, arrondie à la dizaine inférieure.
>> * Les employés et leur revenu annuel (salaire*12 + commission) arrondi à la centaine près.