# Configuration de la connexion à la base de données

In [1]:
import pandas as pd 
import cx_Oracle
import sys
import os

%pylab inline
%load_ext sql

Populating the interactive namespace from numpy and matplotlib

In [2]:
sys.path.append(os.path.abspath('../../.'))
from dbconnect import utilisateur,connexion,password

# Connexion

In [3]:
%sql oracle+cx_oracle://$utilisateur:$password@$connexion

'Connected: stag01@coursdb'

# Projection


>> SELECT [ ALL | DISTINCT ] <br>
>>> { [{ NOM_TABLE | ALIAS2 }.]* ,<br><br>
>>> [ [{NOM_TABLE |ALIAS2}.]COLONNE1 [AS] ALIAS1[,...]} <br><br>
>> FROM NOM_TABLE ALIAS2 <br>

In [4]:
%%sql 
SELECT  CODE_CLIENT, 
        DATE_COMMANDE, 
        NO_EMPLOYE, 
        PORT 
FROM COMMANDES 
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('CACTU', datetime.datetime(2010, 1, 21, 0, 0), 90, Decimal('96')),
 ('LONEP', datetime.datetime(2010, 1, 21, 0, 0), 79, Decimal('55.8')),
 ('EASTC', datetime.datetime(2010, 1, 21, 0, 0), 62, Decimal('64.8')),
 ('GREAL', datetime.datetime(2010, 1, 21, 0, 0), 84, Decimal('57.6')),
 ('WARTH', datetime.datetime(2010, 1, 21, 0, 0), 54, Decimal('63.9'))]

In [5]:
%%sql 
SELECT 
    COMMANDES.CODE_CLIENT, 
    COMMANDES.DATE_COMMANDE, 
    COMMANDES.NO_EMPLOYE, 
    PORT 
FROM COMMANDES 
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('CACTU', datetime.datetime(2010, 1, 21, 0, 0), 90, Decimal('96')),
 ('LONEP', datetime.datetime(2010, 1, 21, 0, 0), 79, Decimal('55.8')),
 ('EASTC', datetime.datetime(2010, 1, 21, 0, 0), 62, Decimal('64.8')),
 ('GREAL', datetime.datetime(2010, 1, 21, 0, 0), 84, Decimal('57.6')),
 ('WARTH', datetime.datetime(2010, 1, 21, 0, 0), 54, Decimal('63.9'))]

# Les constantes

In [6]:
%sql SELECT 0, -1234567890, +1234567890, -123.456, +123.456, -1E+13  FROM DUAL

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(0, -1234567890, 1234567890, Decimal('-123.456'), Decimal('123.456'), -10000000000000)]

In [7]:
%sql SELECT -123, 456, +123, 456,-1E+13 FROM DUAL

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(-123, 456, 123, 456, -10000000000000)]

In [8]:
%sql SELECT 'Bonjour aujourd''hui c''est le :' "Aujourd'hui", SYSDATE "Date" FROM DUAL

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[("Bonjour aujourd'hui c'est le :", datetime.datetime(2021, 11, 26, 8, 46))]

# Opérateur de concaténation

In [9]:
%%sql 
SELECT 
    NO_EMPLOYE||' -- '||NOM||' -- '||PRENOM||' -- '||DATE_NAISSANCE  "Liste des employés"  
FROM EMPLOYES
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('70 -- Berlioz -- Jacques -- 12/10/67',),
 ('71 -- Nocella -- Guy -- 19/11/76',),
 ('72 -- Herve -- Didier -- 19/09/79',),
 ('73 -- Mangeard -- Jocelyne -- 27/12/79',),
 ('74 -- Cazade -- Anne-Claire -- 19/09/79',)]

In [10]:
%%sql 
SELECT 
    concat(concat(concat(concat(NO_EMPLOYE,' -- '),NOM),' -- '),PRENOM)  "Liste des employés"  
FROM EMPLOYES
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('70 -- Berlioz -- Jacques',),
 ('71 -- Nocella -- Guy',),
 ('72 -- Herve -- Didier',),
 ('73 -- Mangeard -- Jocelyne',),
 ('74 -- Cazade -- Anne-Claire',)]

# Opérateurs arithmétiques

Une expression arithmétique est une combinaison de noms de colonnes, de constantes et de fonctions arithmétiques (les fonctions arithmétiques sont traitées plus loin) combinées au moyen des opérateurs arithmétiques addition « + », soustraction « - », multiplication « * » ou division « / ».

In [11]:
%%sql 
SELECT 
    NOM_PRODUIT "Produit", 
    PRIX_UNITAIRE*UNITES_STOCK "Stock",
    UNITES_COMMANDEES*12 "Commandes" 
FROM PRODUITS
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Chai', 3510, None),
 ('Chang', 1615, 480),
 ('Aniseed Syrup', 650, 840),
 ("Chef Anton's Cajun Seasoning", 5830, None),
 ("Grandma's Boysenberry Spread", 15000, None)]

In [12]:
%%sql 
SELECT 
    NOM||' '||PRENOM as "Employé", 
    SALAIRE * 1.1 as "Salaire"
FROM EMPLOYES
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz Jacques', 10340),
 ('Nocella Guy', 8360),
 ('Herve Didier', 7370),
 ('Mangeard Jocelyne', 9020),
 ('Cazade Anne-Claire', 7920)]

In [13]:
%%sql 
SELECT 
    NOM,
    DATE_NAISSANCE,
    DATE_NAISSANCE+1,
    (SYSDATE-DATE_NAISSANCE)/365 "jours" 
FROM EMPLOYES 
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz', datetime.datetime(1967, 10, 12, 0, 0), datetime.datetime(1967, 10, 13, 0, 0), Decimal('54.16264459665144596651445966514459665151')),
 ('Nocella', datetime.datetime(1976, 11, 19, 0, 0), datetime.datetime(1976, 11, 20, 0, 0), Decimal('45.05031582952815829528158295281582952822')),
 ('Herve', datetime.datetime(1979, 9, 19, 0, 0), datetime.datetime(1979, 9, 20, 0, 0), Decimal('42.21743911719939117199391171993911719945')),
 ('Mangeard', datetime.datetime(1979, 12, 27, 0, 0), datetime.datetime(1979, 12, 28, 0, 0), Decimal('41.94620624048706240487062404870624048712')),
 ('Cazade', datetime.datetime(1979, 9, 19, 0, 0), datetime.datetime(1979, 9, 20, 0, 0), Decimal('42.21743911719939117199391171993911719945'))]

# La valeur NULL

In [14]:
%%sql 
SELECT NOM, SALAIRE, COMMISSION, SALAIRE+COMMISSION FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz', Decimal('9400'), Decimal('980'), 10380),
 ('Nocella', Decimal('7600'), Decimal('910'), 8510),
 ('Herve', Decimal('6700'), Decimal('1170'), 7870),
 ('Mangeard', Decimal('8200'), Decimal('190'), 8390),
 ('Cazade', Decimal('7200'), Decimal('550'), 7750),
 ('Devie', Decimal('1540'), None, None),
 ('Peacock', Decimal('6100'), Decimal('930'), 7030),
 ('Idesheim', Decimal('7300'), Decimal('600'), 7900),
 ('Rollet', Decimal('5000'), Decimal('570'), 5570),
 ('Silberreiss', Decimal('9200'), Decimal('1100'), 10300),
 ('Weiss', Decimal('6600'), Decimal('1110'), 7710),
 ('Delorgue', Decimal('5900'), Decimal('510'), 6410),
 ('Zonca', Decimal('6700'), Decimal('470'), 7170),
 ('Twardowski', Decimal('9400'), Decimal('1540'), 10940),
 ('Coutou', Decimal('6900'), Decimal('770'), 7670),
 ('King', Decimal('7200'), Decimal('1040'), 8240),
 ('Ragon', Decimal('13000'), Decimal('5980'), 18980),
 ('Dohr', Decimal('8200'), Decimal('200'), 8400),
 ('Maurousset', Decimal('8100'), Decimal('1560'), 9660),
 ('Pouetre', Decimal('2000'), None, None),
 ('Montesinos', Decimal('8700'), Decimal('1130'), 9830),
 ('Aubert', Decimal('5100'), Decimal('750'), 5850),
 ('Thomas', Decimal('7100'), Decimal('1310'), 8410),
 ('Falatik', Decimal('7600'), Decimal('1100'), 8700),
 ('Marielle', Decimal('7100'), Decimal('1550'), 8650),
 ('Leger', Decimal('19000'), Decimal('11150'), 30150),
 ('Marchand', Decimal('6900'), Decimal('1280'), 8180),
 ('Seigne', Decimal('9600'), Decimal('1160'), 10760),
 ('Burst', Decimal('7700'), Decimal('1980'), 9680),
 ('Damas', Decimal('7700'), Decimal('530'), 8230),
 ('Espeche', Decimal('6500'), Decimal('1580'), 8080),
 ('Charles', Decimal('6000'), Decimal('1080'), 7080),
 ('Thimoleon', Decimal('8000'), Decimal('1270'), 9270),
 ('Arrambide', Decimal('5400'), Decimal('190'), 5590),
 ('Ziliox', Decimal('1900'), None, None),
 ('Viry', Decimal('6700'), Decimal('740'), 7440),
 ('Cheutin', Decimal('10000'), Decimal('570'), 10570),
 ('Lombard', Decimal('6400'), Decimal('1350'), 7750),
 ('Tourtel', Decimal('8100'), Decimal('1920'), 10020),
 ('Lampis', Decimal('1300'), None, None),
 ('Regner', Decimal('9300'), Decimal('1380'), 10680),
 ('Teixeira', Decimal('6800'), Decimal('330'), 7130),
 ('Besse', Decimal('9900'), Decimal('940'), 10840),
 ('Destenay', Decimal('9900'), Decimal('790'), 10690),
 ('Letertre', Decimal('5600'), Decimal('1890'), 7490),
 ('Kremser', Decimal('6000'), Decimal('1610'), 7610),
 ('Lamarre', Decimal('7800'), Decimal('200'), 8000),
 ('Cleret', Decimal('7900'), Decimal('720'), 8620),
 ('Poidatz', Decimal('6600'), Decimal('200'), 6800),
 ('Messelier', Decimal('9500'), Decimal('1470'), 10970),
 ('Gardeil', Decimal('7800'), Decimal('1520'), 9320),
 ('Capharsie', Decimal('9400'), Decimal('410'), 9810),
 ('Belin', Decimal('10000'), Decimal('10640'), 20640),
 ('Perny', Decimal('6500'), Decimal('340'), 6840),
 ('Courty', Decimal('9900'), Decimal('1800'), 11700),
 ('Fuller', Decimal('96000'), None, None),
 ('Suyama', Decimal('8400'), Decimal('400'), 8800),
 ('Malejac', Decimal('8700'), Decimal('1130'), 9830),
 ('Blard', Decimal('5900'), Decimal('340'), 6240),
 ('Brasseur', Decimal('147000'), None, None),
 ('Pagani', Decimal('6500'), Decimal('1330'), 7830),
 ('Gerard', Decimal('8200'), Decimal('1800'), 10000),
 ('Poupard', Decimal('1800'), None, None),
 ('Piroddi', Decimal('6700'), Decimal('190'), 6890),
 ('Splingart', Decimal('16000'), Decimal('16480'), 32480),
 ('Buchanan', Decimal('13000'), Decimal('12940'), 25940),
 ('Chaussende', Decimal('6600'), Decimal('1530'), 8130),
 ('Hanriot', Decimal('8300'), Decimal('1700'), 10000),
 ('Maurer', Decimal('1400'), None, None),
 ('Davolio', Decimal('8200'), Decimal('1740'), 9940),
 ('Frederic', Decimal('8100'), Decimal('1870'), 9970),
 ('Callahan', Decimal('1200'), None, None),
 ('Pequignot', Decimal('6200'), Decimal('1820'), 8020),
 ('Duriez', Decimal('9100'), Decimal('420'), 9520),
 ('Chambaud', Decimal('12000'), Decimal('11600'), 23600),
 ('Leverling', Decimal('7400'), Decimal('240'), 7640),
 ('Brunet', Decimal('6600'), Decimal('1400'), 8000),
 ('Cremel', Decimal('6900'), Decimal('910'), 7810),
 ('Giroux', Decimal('150000'), None, None),
 ('Perret', Decimal('9500'), Decimal('520'), 10020),
 ('Jenny', Decimal('9800'), Decimal('150'), 9950),
 ('Mennetrier', Decimal('8700'), Decimal('1970'), 10670),
 ('Michiels', Decimal('5500'), Decimal('40'), 5540),
 ('Valot', Decimal('9200'), Decimal('680'), 9880),
 ('Steiner', Decimal('5400'), Decimal('1310'), 6710),
 ('Etienne', Decimal('2000'), None, None),
 ('Gregoire', Decimal('8000'), Decimal('30'), 8030),
 ('Guillossou', Decimal('5200'), Decimal('470'), 5670),
 ('Lefebvre', Decimal('9200'), Decimal('530'), 9730),
 ('Di Clemente', Decimal('8400'), Decimal('920'), 9320),
 ('Bettan', Decimal('5500'), Decimal('690'), 6190),
 ('Rivat', Decimal('5200'), Decimal('310'), 5510),
 ('Alvarez', Decimal('7200'), Decimal('1010'), 8210),
 ('Jacquot', Decimal('8900'), Decimal('1030'), 9930),
 ('Dodsworth', Decimal('8800'), Decimal('490'), 9290),
 ('Petit', Decimal('6300'), Decimal('20'), 6320),
 ('Canu', Decimal('5800'), Decimal('550'), 6350),
 ('Bazart', Decimal('8900'), Decimal('760'), 9660),
 ('Grangirard', Decimal('1700'), None, None),
 ('Barre', Decimal('8800'), Decimal('1220'), 10020),
 ('Mure', Decimal('8200'), Decimal('1140'), 9340),
 ('Jeandel', Decimal('9200'), Decimal('1150'), 10350),
 ('Aubry', Decimal('9500'), Decimal('1850'), 11350),
 ('Kessler', Decimal('6800'), Decimal('1780'), 8580),
 ('Urbaniak', Decimal('7000'), Decimal('1760'), 8760),
 ('Guerdon', Decimal('1700'), None, None),
 ('Griner', Decimal('8100'), Decimal('980'), 9080),
 ('Bodard', Decimal('5500'), Decimal('720'), 6220),
 ('Maillard', Decimal('6600'), Decimal('1300'), 7900),
 ('Dupouey', Decimal('5500'), Decimal('40'), 5540),
 ('Clement', Decimal('7200'), Decimal('1370'), 8570)]

## COALESCE

In [15]:
%%sql 
SELECT NOM, SALAIRE, COMMISSION, SALAIRE+COALESCE(COMMISSION,0) FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz', Decimal('9400'), Decimal('980'), 10380),
 ('Nocella', Decimal('7600'), Decimal('910'), 8510),
 ('Herve', Decimal('6700'), Decimal('1170'), 7870),
 ('Mangeard', Decimal('8200'), Decimal('190'), 8390),
 ('Cazade', Decimal('7200'), Decimal('550'), 7750),
 ('Devie', Decimal('1540'), None, 1540),
 ('Peacock', Decimal('6100'), Decimal('930'), 7030),
 ('Idesheim', Decimal('7300'), Decimal('600'), 7900),
 ('Rollet', Decimal('5000'), Decimal('570'), 5570),
 ('Silberreiss', Decimal('9200'), Decimal('1100'), 10300),
 ('Weiss', Decimal('6600'), Decimal('1110'), 7710),
 ('Delorgue', Decimal('5900'), Decimal('510'), 6410),
 ('Zonca', Decimal('6700'), Decimal('470'), 7170),
 ('Twardowski', Decimal('9400'), Decimal('1540'), 10940),
 ('Coutou', Decimal('6900'), Decimal('770'), 7670),
 ('King', Decimal('7200'), Decimal('1040'), 8240),
 ('Ragon', Decimal('13000'), Decimal('5980'), 18980),
 ('Dohr', Decimal('8200'), Decimal('200'), 8400),
 ('Maurousset', Decimal('8100'), Decimal('1560'), 9660),
 ('Pouetre', Decimal('2000'), None, 2000),
 ('Montesinos', Decimal('8700'), Decimal('1130'), 9830),
 ('Aubert', Decimal('5100'), Decimal('750'), 5850),
 ('Thomas', Decimal('7100'), Decimal('1310'), 8410),
 ('Falatik', Decimal('7600'), Decimal('1100'), 8700),
 ('Marielle', Decimal('7100'), Decimal('1550'), 8650),
 ('Leger', Decimal('19000'), Decimal('11150'), 30150),
 ('Marchand', Decimal('6900'), Decimal('1280'), 8180),
 ('Seigne', Decimal('9600'), Decimal('1160'), 10760),
 ('Burst', Decimal('7700'), Decimal('1980'), 9680),
 ('Damas', Decimal('7700'), Decimal('530'), 8230),
 ('Espeche', Decimal('6500'), Decimal('1580'), 8080),
 ('Charles', Decimal('6000'), Decimal('1080'), 7080),
 ('Thimoleon', Decimal('8000'), Decimal('1270'), 9270),
 ('Arrambide', Decimal('5400'), Decimal('190'), 5590),
 ('Ziliox', Decimal('1900'), None, 1900),
 ('Viry', Decimal('6700'), Decimal('740'), 7440),
 ('Cheutin', Decimal('10000'), Decimal('570'), 10570),
 ('Lombard', Decimal('6400'), Decimal('1350'), 7750),
 ('Tourtel', Decimal('8100'), Decimal('1920'), 10020),
 ('Lampis', Decimal('1300'), None, 1300),
 ('Regner', Decimal('9300'), Decimal('1380'), 10680),
 ('Teixeira', Decimal('6800'), Decimal('330'), 7130),
 ('Besse', Decimal('9900'), Decimal('940'), 10840),
 ('Destenay', Decimal('9900'), Decimal('790'), 10690),
 ('Letertre', Decimal('5600'), Decimal('1890'), 7490),
 ('Kremser', Decimal('6000'), Decimal('1610'), 7610),
 ('Lamarre', Decimal('7800'), Decimal('200'), 8000),
 ('Cleret', Decimal('7900'), Decimal('720'), 8620),
 ('Poidatz', Decimal('6600'), Decimal('200'), 6800),
 ('Messelier', Decimal('9500'), Decimal('1470'), 10970),
 ('Gardeil', Decimal('7800'), Decimal('1520'), 9320),
 ('Capharsie', Decimal('9400'), Decimal('410'), 9810),
 ('Belin', Decimal('10000'), Decimal('10640'), 20640),
 ('Perny', Decimal('6500'), Decimal('340'), 6840),
 ('Courty', Decimal('9900'), Decimal('1800'), 11700),
 ('Fuller', Decimal('96000'), None, 96000),
 ('Suyama', Decimal('8400'), Decimal('400'), 8800),
 ('Malejac', Decimal('8700'), Decimal('1130'), 9830),
 ('Blard', Decimal('5900'), Decimal('340'), 6240),
 ('Brasseur', Decimal('147000'), None, 147000),
 ('Pagani', Decimal('6500'), Decimal('1330'), 7830),
 ('Gerard', Decimal('8200'), Decimal('1800'), 10000),
 ('Poupard', Decimal('1800'), None, 1800),
 ('Piroddi', Decimal('6700'), Decimal('190'), 6890),
 ('Splingart', Decimal('16000'), Decimal('16480'), 32480),
 ('Buchanan', Decimal('13000'), Decimal('12940'), 25940),
 ('Chaussende', Decimal('6600'), Decimal('1530'), 8130),
 ('Hanriot', Decimal('8300'), Decimal('1700'), 10000),
 ('Maurer', Decimal('1400'), None, 1400),
 ('Davolio', Decimal('8200'), Decimal('1740'), 9940),
 ('Frederic', Decimal('8100'), Decimal('1870'), 9970),
 ('Callahan', Decimal('1200'), None, 1200),
 ('Pequignot', Decimal('6200'), Decimal('1820'), 8020),
 ('Duriez', Decimal('9100'), Decimal('420'), 9520),
 ('Chambaud', Decimal('12000'), Decimal('11600'), 23600),
 ('Leverling', Decimal('7400'), Decimal('240'), 7640),
 ('Brunet', Decimal('6600'), Decimal('1400'), 8000),
 ('Cremel', Decimal('6900'), Decimal('910'), 7810),
 ('Giroux', Decimal('150000'), None, 150000),
 ('Perret', Decimal('9500'), Decimal('520'), 10020),
 ('Jenny', Decimal('9800'), Decimal('150'), 9950),
 ('Mennetrier', Decimal('8700'), Decimal('1970'), 10670),
 ('Michiels', Decimal('5500'), Decimal('40'), 5540),
 ('Valot', Decimal('9200'), Decimal('680'), 9880),
 ('Steiner', Decimal('5400'), Decimal('1310'), 6710),
 ('Etienne', Decimal('2000'), None, 2000),
 ('Gregoire', Decimal('8000'), Decimal('30'), 8030),
 ('Guillossou', Decimal('5200'), Decimal('470'), 5670),
 ('Lefebvre', Decimal('9200'), Decimal('530'), 9730),
 ('Di Clemente', Decimal('8400'), Decimal('920'), 9320),
 ('Bettan', Decimal('5500'), Decimal('690'), 6190),
 ('Rivat', Decimal('5200'), Decimal('310'), 5510),
 ('Alvarez', Decimal('7200'), Decimal('1010'), 8210),
 ('Jacquot', Decimal('8900'), Decimal('1030'), 9930),
 ('Dodsworth', Decimal('8800'), Decimal('490'), 9290),
 ('Petit', Decimal('6300'), Decimal('20'), 6320),
 ('Canu', Decimal('5800'), Decimal('550'), 6350),
 ('Bazart', Decimal('8900'), Decimal('760'), 9660),
 ('Grangirard', Decimal('1700'), None, 1700),
 ('Barre', Decimal('8800'), Decimal('1220'), 10020),
 ('Mure', Decimal('8200'), Decimal('1140'), 9340),
 ('Jeandel', Decimal('9200'), Decimal('1150'), 10350),
 ('Aubry', Decimal('9500'), Decimal('1850'), 11350),
 ('Kessler', Decimal('6800'), Decimal('1780'), 8580),
 ('Urbaniak', Decimal('7000'), Decimal('1760'), 8760),
 ('Guerdon', Decimal('1700'), None, 1700),
 ('Griner', Decimal('8100'), Decimal('980'), 9080),
 ('Bodard', Decimal('5500'), Decimal('720'), 6220),
 ('Maillard', Decimal('6600'), Decimal('1300'), 7900),
 ('Dupouey', Decimal('5500'), Decimal('40'), 5540),
 ('Clement', Decimal('7200'), Decimal('1370'), 8570)]

## NVL

In [16]:
%%sql 
SELECT NOM, SALAIRE, COMMISSION, SALAIRE+nvl(COMMISSION,0) FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz', Decimal('9400'), Decimal('980'), 10380),
 ('Nocella', Decimal('7600'), Decimal('910'), 8510),
 ('Herve', Decimal('6700'), Decimal('1170'), 7870),
 ('Mangeard', Decimal('8200'), Decimal('190'), 8390),
 ('Cazade', Decimal('7200'), Decimal('550'), 7750),
 ('Devie', Decimal('1540'), None, 1540),
 ('Peacock', Decimal('6100'), Decimal('930'), 7030),
 ('Idesheim', Decimal('7300'), Decimal('600'), 7900),
 ('Rollet', Decimal('5000'), Decimal('570'), 5570),
 ('Silberreiss', Decimal('9200'), Decimal('1100'), 10300),
 ('Weiss', Decimal('6600'), Decimal('1110'), 7710),
 ('Delorgue', Decimal('5900'), Decimal('510'), 6410),
 ('Zonca', Decimal('6700'), Decimal('470'), 7170),
 ('Twardowski', Decimal('9400'), Decimal('1540'), 10940),
 ('Coutou', Decimal('6900'), Decimal('770'), 7670),
 ('King', Decimal('7200'), Decimal('1040'), 8240),
 ('Ragon', Decimal('13000'), Decimal('5980'), 18980),
 ('Dohr', Decimal('8200'), Decimal('200'), 8400),
 ('Maurousset', Decimal('8100'), Decimal('1560'), 9660),
 ('Pouetre', Decimal('2000'), None, 2000),
 ('Montesinos', Decimal('8700'), Decimal('1130'), 9830),
 ('Aubert', Decimal('5100'), Decimal('750'), 5850),
 ('Thomas', Decimal('7100'), Decimal('1310'), 8410),
 ('Falatik', Decimal('7600'), Decimal('1100'), 8700),
 ('Marielle', Decimal('7100'), Decimal('1550'), 8650),
 ('Leger', Decimal('19000'), Decimal('11150'), 30150),
 ('Marchand', Decimal('6900'), Decimal('1280'), 8180),
 ('Seigne', Decimal('9600'), Decimal('1160'), 10760),
 ('Burst', Decimal('7700'), Decimal('1980'), 9680),
 ('Damas', Decimal('7700'), Decimal('530'), 8230),
 ('Espeche', Decimal('6500'), Decimal('1580'), 8080),
 ('Charles', Decimal('6000'), Decimal('1080'), 7080),
 ('Thimoleon', Decimal('8000'), Decimal('1270'), 9270),
 ('Arrambide', Decimal('5400'), Decimal('190'), 5590),
 ('Ziliox', Decimal('1900'), None, 1900),
 ('Viry', Decimal('6700'), Decimal('740'), 7440),
 ('Cheutin', Decimal('10000'), Decimal('570'), 10570),
 ('Lombard', Decimal('6400'), Decimal('1350'), 7750),
 ('Tourtel', Decimal('8100'), Decimal('1920'), 10020),
 ('Lampis', Decimal('1300'), None, 1300),
 ('Regner', Decimal('9300'), Decimal('1380'), 10680),
 ('Teixeira', Decimal('6800'), Decimal('330'), 7130),
 ('Besse', Decimal('9900'), Decimal('940'), 10840),
 ('Destenay', Decimal('9900'), Decimal('790'), 10690),
 ('Letertre', Decimal('5600'), Decimal('1890'), 7490),
 ('Kremser', Decimal('6000'), Decimal('1610'), 7610),
 ('Lamarre', Decimal('7800'), Decimal('200'), 8000),
 ('Cleret', Decimal('7900'), Decimal('720'), 8620),
 ('Poidatz', Decimal('6600'), Decimal('200'), 6800),
 ('Messelier', Decimal('9500'), Decimal('1470'), 10970),
 ('Gardeil', Decimal('7800'), Decimal('1520'), 9320),
 ('Capharsie', Decimal('9400'), Decimal('410'), 9810),
 ('Belin', Decimal('10000'), Decimal('10640'), 20640),
 ('Perny', Decimal('6500'), Decimal('340'), 6840),
 ('Courty', Decimal('9900'), Decimal('1800'), 11700),
 ('Fuller', Decimal('96000'), None, 96000),
 ('Suyama', Decimal('8400'), Decimal('400'), 8800),
 ('Malejac', Decimal('8700'), Decimal('1130'), 9830),
 ('Blard', Decimal('5900'), Decimal('340'), 6240),
 ('Brasseur', Decimal('147000'), None, 147000),
 ('Pagani', Decimal('6500'), Decimal('1330'), 7830),
 ('Gerard', Decimal('8200'), Decimal('1800'), 10000),
 ('Poupard', Decimal('1800'), None, 1800),
 ('Piroddi', Decimal('6700'), Decimal('190'), 6890),
 ('Splingart', Decimal('16000'), Decimal('16480'), 32480),
 ('Buchanan', Decimal('13000'), Decimal('12940'), 25940),
 ('Chaussende', Decimal('6600'), Decimal('1530'), 8130),
 ('Hanriot', Decimal('8300'), Decimal('1700'), 10000),
 ('Maurer', Decimal('1400'), None, 1400),
 ('Davolio', Decimal('8200'), Decimal('1740'), 9940),
 ('Frederic', Decimal('8100'), Decimal('1870'), 9970),
 ('Callahan', Decimal('1200'), None, 1200),
 ('Pequignot', Decimal('6200'), Decimal('1820'), 8020),
 ('Duriez', Decimal('9100'), Decimal('420'), 9520),
 ('Chambaud', Decimal('12000'), Decimal('11600'), 23600),
 ('Leverling', Decimal('7400'), Decimal('240'), 7640),
 ('Brunet', Decimal('6600'), Decimal('1400'), 8000),
 ('Cremel', Decimal('6900'), Decimal('910'), 7810),
 ('Giroux', Decimal('150000'), None, 150000),
 ('Perret', Decimal('9500'), Decimal('520'), 10020),
 ('Jenny', Decimal('9800'), Decimal('150'), 9950),
 ('Mennetrier', Decimal('8700'), Decimal('1970'), 10670),
 ('Michiels', Decimal('5500'), Decimal('40'), 5540),
 ('Valot', Decimal('9200'), Decimal('680'), 9880),
 ('Steiner', Decimal('5400'), Decimal('1310'), 6710),
 ('Etienne', Decimal('2000'), None, 2000),
 ('Gregoire', Decimal('8000'), Decimal('30'), 8030),
 ('Guillossou', Decimal('5200'), Decimal('470'), 5670),
 ('Lefebvre', Decimal('9200'), Decimal('530'), 9730),
 ('Di Clemente', Decimal('8400'), Decimal('920'), 9320),
 ('Bettan', Decimal('5500'), Decimal('690'), 6190),
 ('Rivat', Decimal('5200'), Decimal('310'), 5510),
 ('Alvarez', Decimal('7200'), Decimal('1010'), 8210),
 ('Jacquot', Decimal('8900'), Decimal('1030'), 9930),
 ('Dodsworth', Decimal('8800'), Decimal('490'), 9290),
 ('Petit', Decimal('6300'), Decimal('20'), 6320),
 ('Canu', Decimal('5800'), Decimal('550'), 6350),
 ('Bazart', Decimal('8900'), Decimal('760'), 9660),
 ('Grangirard', Decimal('1700'), None, 1700),
 ('Barre', Decimal('8800'), Decimal('1220'), 10020),
 ('Mure', Decimal('8200'), Decimal('1140'), 9340),
 ('Jeandel', Decimal('9200'), Decimal('1150'), 10350),
 ('Aubry', Decimal('9500'), Decimal('1850'), 11350),
 ('Kessler', Decimal('6800'), Decimal('1780'), 8580),
 ('Urbaniak', Decimal('7000'), Decimal('1760'), 8760),
 ('Guerdon', Decimal('1700'), None, 1700),
 ('Griner', Decimal('8100'), Decimal('980'), 9080),
 ('Bodard', Decimal('5500'), Decimal('720'), 6220),
 ('Maillard', Decimal('6600'), Decimal('1300'), 7900),
 ('Dupouey', Decimal('5500'), Decimal('40'), 5540),
 ('Clement', Decimal('7200'), Decimal('1370'), 8570)]

In [17]:
%%sql 
SELECT SOCIETE, NVL(FAX, 'Non affecté') FROM CLIENTS

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Consolidated Holdings', '(71) 555-9199'),
 ('Drachenblut Delikatessen', '0241-059428'),
 ('Du monde entier', '02.40.67.89.89'),
 ('Eastern Connection', '(71) 555-3373'),
 ('Ernst Handel', '7675-3426'),
 ('Familia Arquibaldo', 'Non affecté'),
 ('FISSA Fabrica Inter. Salchichas S.A.', '(91) 555 55 93'),
 ('Folies gourmandes', '03.20.16.10.17'),
 ('Folk och fä HB', 'Non affecté'),
 ('Frankenversand', '089-0877451'),
 ('France restauration', '02.40.32.21.20'),
 ('Franchi S.p.A.', '011-4988261'),
 ('Furia Bacalhau e Frutos do Mar', '(1) 354-2535'),
 ('Galería del gastrónomo', '(93) 203 4561'),
 ('Godos Cocina Típica', 'Non affecté'),
 ('Gourmet Lanchonetes', 'Non affecté'),
 ('Great Lakes Food Market', 'Non affecté'),
 ('GROSELLA-Restaurante', '(2) 283-3397'),
 ('Hanari Carnes', '(21) 555-8765'),
 ('HILARIÓN-Abastos', '(5) 555-1948'),
 ('Hungry Coyote Import Store', '(503) 555-2376'),
 ('Hungry Owl All-Night Grocers', '2967 3333'),
 ('Island Trading', 'Non affecté'),
 ('Königlich Essen', 'Non affecté'),
 ("La corne d'abondance", '01.30.59.85.11'),
 ("La maison d'Asie", '05.61.77.61.11'),
 ('Laughing Bacchus Wine Cellars', '(604) 555-7293'),
 ('Lazy K Kountry Store', '(509) 555-6221'),
 ('Lehmanns Marktstand', '069-0245874'),
 ("Let's Stop N Shop", 'Non affecté'),
 ('LILA-Supermercado', '(9) 331-7256'),
 ('LINO-Delicateses', '(8) 34-93-93'),
 ('Lonesome Pine Restaurant', '(503) 555-9646'),
 ('Magazzini Alimentari Riuniti', '035-640231'),
 ('Maison Dewey', '(02) 201 24 68'),
 ('Mère Paillarde', '(514) 555-8055'),
 ('Morgenstern Gesundkost', 'Non affecté'),
 ('North/South', '(71) 555-2530'),
 ('Océano Atlántico Ltda.', '(1) 135-5535'),
 ('Old World Delicatessen', '(907) 555-2880'),
 ('Ottilies Käseladen', '0221-0765721'),
 ('Paris spécialités', '01.42.34.22.77'),
 ('Pericles Comidas clásicas', '(5) 545-3745'),
 ('Piccolo und mehr', '6562-9723'),
 ('Princesa Isabel Vinhos', 'Non affecté'),
 ('Que Delícia', '(21) 555-4545'),
 ('Queen Cozinha', 'Non affecté'),
 ('QUICK-Stop', 'Non affecté'),
 ('Rancho grande', '(1) 123-5556'),
 ('Rattlesnake Canyon Grocery', '(505) 555-3620'),
 ('Reggiani Caseifici', '0522-556722'),
 ('Ricardo Adocicados', 'Non affecté'),
 ('Richter Supermarkt', 'Non affecté'),
 ('Romero y tomillo', '(91) 745 6210'),
 ('Santé Gourmet', '07-98 92 47'),
 ('Save-a-lot Markets', 'Non affecté'),
 ('Seven Seas Imports', '(71) 555-5646'),
 ('Simons bistro', '31 13 35 57'),
 ('Spécialités du monde', '01.47.55.60.20'),
 ('Split Rail Beer  Ale', '(307) 555-6525'),
 ('Suprêmes délices', '(071) 23 67 22 21'),
 ('The Big Cheese', 'Non affecté'),
 ('The Cracker Box', '(406) 555-8083'),
 ('Toms Spezialitäten', '0251-035695'),
 ('Tortuga Restaurante', 'Non affecté'),
 ('Tradição Hipermercados', '(11) 555-2168'),
 ("Trail's Head Gourmet Provisioners", '(206) 555-2174'),
 ('Vaffeljernet', '86 22 33 44'),
 ('Victuailles en stock', '04.78.32.54.87'),
 ('Vins et alcools Chevalier', '03.26.47.15.11'),
 ('Die Wandernde Kuh', '0711-035428'),
 ('Wartian Herkku', '981-443655'),
 ('Wellington Importadora', 'Non affecté'),
 ('White Clover Markets', '(206) 555-4115'),
 ('Wilman Kala', '90-224 8858'),
 ('Wolski  Zajazd', '(26) 642-7012'),
 ('Alfreds Futterkiste', '030-0076545'),
 ('Ana Trujillo Emparedados y helados', '(5) 555-3745'),
 ('Antonio Moreno Taquería', 'Non affecté'),
 ('Around the Horn', '(71) 555-6750'),
 ('Berglunds snabbköp', '0921-12 34 67'),
 ('Blauer See Delikatessen', '0621-08924'),
 ('Blondel père et fils', '03.88.60.15.32'),
 ('Bólido Comidas preparadas', '(91) 555 91 99'),
 ("Bon app'", '04.91.24.45.41'),
 ('Bottom-Dollar Markets', '(604) 555-3745'),
 ("B's Beverages", 'Non affecté'),
 ('Cactus Comidas para llevar', '(1) 135-4892'),
 ('Centro comercial Moctezuma', '(5) 555-7293'),
 ('Chop-suey Chinese', 'Non affecté'),
 ('Comércio Mineiro', 'Non affecté')]

## NVL2

In [18]:
%%sql 
SELECT NOM, SALAIRE, COMMISSION,
       NVL2( COMMISSION, SALAIRE+COMMISSION, SALAIRE) R 
FROM EMPLOYES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Berlioz', Decimal('9400'), Decimal('980'), 10380),
 ('Nocella', Decimal('7600'), Decimal('910'), 8510),
 ('Herve', Decimal('6700'), Decimal('1170'), 7870),
 ('Mangeard', Decimal('8200'), Decimal('190'), 8390),
 ('Cazade', Decimal('7200'), Decimal('550'), 7750),
 ('Devie', Decimal('1540'), None, 1540),
 ('Peacock', Decimal('6100'), Decimal('930'), 7030),
 ('Idesheim', Decimal('7300'), Decimal('600'), 7900),
 ('Rollet', Decimal('5000'), Decimal('570'), 5570),
 ('Silberreiss', Decimal('9200'), Decimal('1100'), 10300),
 ('Weiss', Decimal('6600'), Decimal('1110'), 7710),
 ('Delorgue', Decimal('5900'), Decimal('510'), 6410),
 ('Zonca', Decimal('6700'), Decimal('470'), 7170),
 ('Twardowski', Decimal('9400'), Decimal('1540'), 10940),
 ('Coutou', Decimal('6900'), Decimal('770'), 7670),
 ('King', Decimal('7200'), Decimal('1040'), 8240),
 ('Ragon', Decimal('13000'), Decimal('5980'), 18980),
 ('Dohr', Decimal('8200'), Decimal('200'), 8400),
 ('Maurousset', Decimal('8100'), Decimal('1560'), 9660),
 ('Pouetre', Decimal('2000'), None, 2000),
 ('Montesinos', Decimal('8700'), Decimal('1130'), 9830),
 ('Aubert', Decimal('5100'), Decimal('750'), 5850),
 ('Thomas', Decimal('7100'), Decimal('1310'), 8410),
 ('Falatik', Decimal('7600'), Decimal('1100'), 8700),
 ('Marielle', Decimal('7100'), Decimal('1550'), 8650),
 ('Leger', Decimal('19000'), Decimal('11150'), 30150),
 ('Marchand', Decimal('6900'), Decimal('1280'), 8180),
 ('Seigne', Decimal('9600'), Decimal('1160'), 10760),
 ('Burst', Decimal('7700'), Decimal('1980'), 9680),
 ('Damas', Decimal('7700'), Decimal('530'), 8230),
 ('Espeche', Decimal('6500'), Decimal('1580'), 8080),
 ('Charles', Decimal('6000'), Decimal('1080'), 7080),
 ('Thimoleon', Decimal('8000'), Decimal('1270'), 9270),
 ('Arrambide', Decimal('5400'), Decimal('190'), 5590),
 ('Ziliox', Decimal('1900'), None, 1900),
 ('Viry', Decimal('6700'), Decimal('740'), 7440),
 ('Cheutin', Decimal('10000'), Decimal('570'), 10570),
 ('Lombard', Decimal('6400'), Decimal('1350'), 7750),
 ('Tourtel', Decimal('8100'), Decimal('1920'), 10020),
 ('Lampis', Decimal('1300'), None, 1300),
 ('Regner', Decimal('9300'), Decimal('1380'), 10680),
 ('Teixeira', Decimal('6800'), Decimal('330'), 7130),
 ('Besse', Decimal('9900'), Decimal('940'), 10840),
 ('Destenay', Decimal('9900'), Decimal('790'), 10690),
 ('Letertre', Decimal('5600'), Decimal('1890'), 7490),
 ('Kremser', Decimal('6000'), Decimal('1610'), 7610),
 ('Lamarre', Decimal('7800'), Decimal('200'), 8000),
 ('Cleret', Decimal('7900'), Decimal('720'), 8620),
 ('Poidatz', Decimal('6600'), Decimal('200'), 6800),
 ('Messelier', Decimal('9500'), Decimal('1470'), 10970),
 ('Gardeil', Decimal('7800'), Decimal('1520'), 9320),
 ('Capharsie', Decimal('9400'), Decimal('410'), 9810),
 ('Belin', Decimal('10000'), Decimal('10640'), 20640),
 ('Perny', Decimal('6500'), Decimal('340'), 6840),
 ('Courty', Decimal('9900'), Decimal('1800'), 11700),
 ('Fuller', Decimal('96000'), None, 96000),
 ('Suyama', Decimal('8400'), Decimal('400'), 8800),
 ('Malejac', Decimal('8700'), Decimal('1130'), 9830),
 ('Blard', Decimal('5900'), Decimal('340'), 6240),
 ('Brasseur', Decimal('147000'), None, 147000),
 ('Pagani', Decimal('6500'), Decimal('1330'), 7830),
 ('Gerard', Decimal('8200'), Decimal('1800'), 10000),
 ('Poupard', Decimal('1800'), None, 1800),
 ('Piroddi', Decimal('6700'), Decimal('190'), 6890),
 ('Splingart', Decimal('16000'), Decimal('16480'), 32480),
 ('Buchanan', Decimal('13000'), Decimal('12940'), 25940),
 ('Chaussende', Decimal('6600'), Decimal('1530'), 8130),
 ('Hanriot', Decimal('8300'), Decimal('1700'), 10000),
 ('Maurer', Decimal('1400'), None, 1400),
 ('Davolio', Decimal('8200'), Decimal('1740'), 9940),
 ('Frederic', Decimal('8100'), Decimal('1870'), 9970),
 ('Callahan', Decimal('1200'), None, 1200),
 ('Pequignot', Decimal('6200'), Decimal('1820'), 8020),
 ('Duriez', Decimal('9100'), Decimal('420'), 9520),
 ('Chambaud', Decimal('12000'), Decimal('11600'), 23600),
 ('Leverling', Decimal('7400'), Decimal('240'), 7640),
 ('Brunet', Decimal('6600'), Decimal('1400'), 8000),
 ('Cremel', Decimal('6900'), Decimal('910'), 7810),
 ('Giroux', Decimal('150000'), None, 150000),
 ('Perret', Decimal('9500'), Decimal('520'), 10020),
 ('Jenny', Decimal('9800'), Decimal('150'), 9950),
 ('Mennetrier', Decimal('8700'), Decimal('1970'), 10670),
 ('Michiels', Decimal('5500'), Decimal('40'), 5540),
 ('Valot', Decimal('9200'), Decimal('680'), 9880),
 ('Steiner', Decimal('5400'), Decimal('1310'), 6710),
 ('Etienne', Decimal('2000'), None, 2000),
 ('Gregoire', Decimal('8000'), Decimal('30'), 8030),
 ('Guillossou', Decimal('5200'), Decimal('470'), 5670),
 ('Lefebvre', Decimal('9200'), Decimal('530'), 9730),
 ('Di Clemente', Decimal('8400'), Decimal('920'), 9320),
 ('Bettan', Decimal('5500'), Decimal('690'), 6190),
 ('Rivat', Decimal('5200'), Decimal('310'), 5510),
 ('Alvarez', Decimal('7200'), Decimal('1010'), 8210),
 ('Jacquot', Decimal('8900'), Decimal('1030'), 9930),
 ('Dodsworth', Decimal('8800'), Decimal('490'), 9290),
 ('Petit', Decimal('6300'), Decimal('20'), 6320),
 ('Canu', Decimal('5800'), Decimal('550'), 6350),
 ('Bazart', Decimal('8900'), Decimal('760'), 9660),
 ('Grangirard', Decimal('1700'), None, 1700),
 ('Barre', Decimal('8800'), Decimal('1220'), 10020),
 ('Mure', Decimal('8200'), Decimal('1140'), 9340),
 ('Jeandel', Decimal('9200'), Decimal('1150'), 10350),
 ('Aubry', Decimal('9500'), Decimal('1850'), 11350),
 ('Kessler', Decimal('6800'), Decimal('1780'), 8580),
 ('Urbaniak', Decimal('7000'), Decimal('1760'), 8760),
 ('Guerdon', Decimal('1700'), None, 1700),
 ('Griner', Decimal('8100'), Decimal('980'), 9080),
 ('Bodard', Decimal('5500'), Decimal('720'), 6220),
 ('Maillard', Decimal('6600'), Decimal('1300'), 7900),
 ('Dupouey', Decimal('5500'), Decimal('40'), 5540),
 ('Clement', Decimal('7200'), Decimal('1370'), 8570)]

# Tri du résultat d'une requête

>> **SELECT [ALL | DISTINCT]{*,[EXPRESSION1 [AS] ALIAS1[,...]}<br>
>> FROM NOM_TABLE<br>
>> ORDER BY <br>
>> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NOM_COLONNE1|ALIAS1|POSITION1|EXPRESSION1][ASC|DESC] [NULLS {FIRST|LAST}],<br>
>> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[NOM_COLONNE2|ALIAS2|POSITION2|EXPRESSION2][ASC|DESC] [NULLS {FIRST|LAST}]**<br>

In [19]:
%%sql 
SELECT NOM, PRENOM, FONCTION FROM EMPLOYES ORDER BY NOM

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Alvarez', 'Marcel', 'Représentant(e)'),
 ('Arrambide', 'Jean Pierre', 'Représentant(e)'),
 ('Aubert', 'Maria', 'Représentant(e)'),
 ('Aubry', 'Jean-Claude', 'Représentant(e)'),
 ('Barre', 'Jean-Paul', 'Représentant(e)'),
 ('Bazart', 'Régis', 'Représentant(e)'),
 ('Belin', 'Chantal', 'Chef des ventes'),
 ('Berlioz', 'Jacques', 'Représentant(e)'),
 ('Besse', 'José', 'Représentant(e)'),
 ('Bettan', 'Henri-Michel', 'Représentant(e)'),
 ('Blard', 'Jean-Benoît', 'Représentant(e)'),
 ('Bodard', 'René', 'Représentant(e)'),
 ('Brasseur', 'Hervé', 'Vice-Président'),
 ('Brunet', 'Jean-Luc', 'Représentant(e)'),
 ('Buchanan', 'Steven', 'Chef des ventes'),
 ('Burst', 'Jean-Yves', 'Représentant(e)'),
 ('Callahan', 'Laura', 'Assistante commerciale'),
 ('Canu', 'Christian', 'Représentant(e)'),
 ('Capharsie', 'Gérard', 'Représentant(e)'),
 ('Cazade', 'Anne-Claire', 'Représentant(e)'),
 ('Chambaud', 'Axelle', 'Chef des ventes'),
 ('Charles', 'Philippe', 'Représentant(e)'),
 ('Chaussende', 'Maurice', 'Représentant(e)'),
 ('Cheutin', 'Corinne', 'Représentant(e)'),
 ('Clement', 'Valérie', 'Représentant(e)'),
 ('Cleret', 'Doris', 'Représentant(e)'),
 ('Courty', 'Jean-Louis', 'Représentant(e)'),
 ('Coutou', 'Myriam', 'Représentant(e)'),
 ('Cremel', 'Brigitte', 'Représentant(e)'),
 ('Damas', 'Lydiane', 'Représentant(e)'),
 ('Davolio', 'Nancy', 'Représentant(e)'),
 ('Delorgue', 'Jean', 'Représentant(e)'),
 ('Destenay', 'Agnès', 'Représentant(e)'),
 ('Devie', 'Thérèse', 'Assistante commerciale'),
 ('Di Clemente', 'Luc', 'Représentant(e)'),
 ('Dodsworth', 'Anne', 'Représentant(e)'),
 ('Dohr', 'Sylvie', 'Représentant(e)'),
 ('Dupouey', 'Pierre', 'Représentant(e)'),
 ('Duriez', 'Maurice', 'Représentant(e)'),
 ('Espeche', 'Eric', 'Représentant(e)'),
 ('Etienne', 'Brigitte', 'Assistante commerciale'),
 ('Falatik', 'Bernard', 'Représentant(e)'),
 ('Frederic', 'Jean Marie', 'Représentant(e)'),
 ('Fuller', 'Andrew', 'Vice-Président'),
 ('Gardeil', 'Henri', 'Représentant(e)'),
 ('Gerard', 'Sylvie', 'Représentant(e)'),
 ('Giroux', 'Jean-Claude', 'Président'),
 ('Grangirard', 'Patricia', 'Assistante commerciale'),
 ('Gregoire', 'Renée', 'Représentant(e)'),
 ('Griner', 'Florence', 'Représentant(e)'),
 ('Guerdon', 'Béatrice', 'Assistante commerciale'),
 ('Guillossou', 'Nadine', 'Représentant(e)'),
 ('Hanriot', 'Catherine', 'Représentant(e)'),
 ('Herve', 'Didier', 'Représentant(e)'),
 ('Idesheim', 'Annick', 'Représentant(e)'),
 ('Jacquot', 'Philippe', 'Représentant(e)'),
 ('Jeandel', 'Véronique', 'Représentant(e)'),
 ('Jenny', 'Michel', 'Représentant(e)'),
 ('Kessler', 'Marc', 'Représentant(e)'),
 ('King', 'Robert', 'Représentant(e)'),
 ('Kremser', 'Arnaud', 'Représentant(e)'),
 ('Lamarre', 'Eric', 'Représentant(e)'),
 ('Lampis', 'Gabrielle', 'Assistante commerciale'),
 ('Lefebvre', 'Michel', 'Représentant(e)'),
 ('Leger', 'Pierre', 'Chef des ventes'),
 ('Letertre', 'Sylvie', 'Représentant(e)'),
 ('Leverling', 'Janet', 'Représentant(e)'),
 ('Lombard', 'Christiane', 'Représentant(e)'),
 ('Maillard', 'Corinne', 'Représentant(e)'),
 ('Malejac', 'Yannick', 'Représentant(e)'),
 ('Mangeard', 'Jocelyne', 'Représentant(e)'),
 ('Marchand', 'Dominique', 'Représentant(e)'),
 ('Marielle', 'Michel', 'Représentant(e)'),
 ('Maurer', 'Véronique', 'Assistante commerciale'),
 ('Maurousset', 'James', 'Représentant(e)'),
 ('Mennetrier', 'Alexandra', 'Représentant(e)'),
 ('Messelier', 'Philippe', 'Représentant(e)'),
 ('Michiels', 'François', 'Représentant(e)'),
 ('Montesinos', 'Aline', 'Représentant(e)'),
 ('Mure', 'Guy', 'Représentant(e)'),
 ('Nocella', 'Guy', 'Représentant(e)'),
 ('Pagani', 'Hector', 'Représentant(e)'),
 ('Peacock', 'Margaret', 'Représentant(e)'),
 ('Pequignot', 'Guy', 'Représentant(e)'),
 ('Perny', 'Sylvie', 'Représentant(e)'),
 ('Perret', 'Laurence', 'Représentant(e)'),
 ('Petit', 'Michel', 'Représentant(e)'),
 ('Piroddi', 'Nathalie', 'Représentant(e)'),
 ('Poidatz', 'Benoît', 'Représentant(e)'),
 ('Pouetre', 'Camille-Hélène', 'Assistante commerciale'),
 ('Poupard', 'Claudette', 'Assistante commerciale'),
 ('Ragon', 'André', 'Chef des ventes'),
 ('Regner', 'Charles', 'Représentant(e)'),
 ('Rivat', 'Jean-Louis', 'Représentant(e)'),
 ('Rollet', 'Philippe', 'Représentant(e)'),
 ('Seigne', 'Marie-Pierre', 'Représentant(e)'),
 ('Silberreiss', 'Albert', 'Représentant(e)'),
 ('Splingart', 'Lydia', 'Chef des ventes'),
 ('Steiner', 'Jean', 'Représentant(e)'),
 ('Suyama', 'Michael', 'Représentant(e)'),
 ('Teixeira', 'Claudia', 'Représentant(e)'),
 ('Thimoleon', 'Georges', 'Représentant(e)'),
 ('Thomas', 'Patricia', 'Représentant(e)'),
 ('Tourtel', 'Nicole', 'Représentant(e)'),
 ('Twardowski', 'Colette', 'Représentant(e)'),
 ('Urbaniak', 'Isabelle', 'Représentant(e)'),
 ('Valot', 'Alain', 'Représentant(e)'),
 ('Viry', 'Yvan', 'Représentant(e)'),
 ('Weiss', 'Sylvie', 'Représentant(e)'),
 ('Ziliox', 'Francoise', 'Assistante commerciale'),
 ('Zonca', 'Virginie', 'Représentant(e)')]

In [20]:
%%sql 
SELECT NOM||' '||PRENOM "Employé", FONCTION 
FROM EMPLOYES 
ORDER BY "Employé" ASC

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Alvarez Marcel', 'Représentant(e)'),
 ('Arrambide Jean Pierre', 'Représentant(e)'),
 ('Aubert Maria', 'Représentant(e)'),
 ('Aubry Jean-Claude', 'Représentant(e)'),
 ('Barre Jean-Paul', 'Représentant(e)'),
 ('Bazart Régis', 'Représentant(e)'),
 ('Belin Chantal', 'Chef des ventes'),
 ('Berlioz Jacques', 'Représentant(e)'),
 ('Besse José', 'Représentant(e)'),
 ('Bettan Henri-Michel', 'Représentant(e)'),
 ('Blard Jean-Benoît', 'Représentant(e)'),
 ('Bodard René', 'Représentant(e)'),
 ('Brasseur Hervé', 'Vice-Président'),
 ('Brunet Jean-Luc', 'Représentant(e)'),
 ('Buchanan Steven', 'Chef des ventes'),
 ('Burst Jean-Yves', 'Représentant(e)'),
 ('Callahan Laura', 'Assistante commerciale'),
 ('Canu Christian', 'Représentant(e)'),
 ('Capharsie Gérard', 'Représentant(e)'),
 ('Cazade Anne-Claire', 'Représentant(e)'),
 ('Chambaud Axelle', 'Chef des ventes'),
 ('Charles Philippe', 'Représentant(e)'),
 ('Chaussende Maurice', 'Représentant(e)'),
 ('Cheutin Corinne', 'Représentant(e)'),
 ('Clement Valérie', 'Représentant(e)'),
 ('Cleret Doris', 'Représentant(e)'),
 ('Courty Jean-Louis', 'Représentant(e)'),
 ('Coutou Myriam', 'Représentant(e)'),
 ('Cremel Brigitte', 'Représentant(e)'),
 ('Damas Lydiane', 'Représentant(e)'),
 ('Davolio Nancy', 'Représentant(e)'),
 ('Delorgue Jean', 'Représentant(e)'),
 ('Destenay Agnès', 'Représentant(e)'),
 ('Devie Thérèse', 'Assistante commerciale'),
 ('Di Clemente Luc', 'Représentant(e)'),
 ('Dodsworth Anne', 'Représentant(e)'),
 ('Dohr Sylvie', 'Représentant(e)'),
 ('Dupouey Pierre', 'Représentant(e)'),
 ('Duriez Maurice', 'Représentant(e)'),
 ('Espeche Eric', 'Représentant(e)'),
 ('Etienne Brigitte', 'Assistante commerciale'),
 ('Falatik Bernard', 'Représentant(e)'),
 ('Frederic Jean Marie', 'Représentant(e)'),
 ('Fuller Andrew', 'Vice-Président'),
 ('Gardeil Henri', 'Représentant(e)'),
 ('Gerard Sylvie', 'Représentant(e)'),
 ('Giroux Jean-Claude', 'Président'),
 ('Grangirard Patricia', 'Assistante commerciale'),
 ('Gregoire Renée', 'Représentant(e)'),
 ('Griner Florence', 'Représentant(e)'),
 ('Guerdon Béatrice', 'Assistante commerciale'),
 ('Guillossou Nadine', 'Représentant(e)'),
 ('Hanriot Catherine', 'Représentant(e)'),
 ('Herve Didier', 'Représentant(e)'),
 ('Idesheim Annick', 'Représentant(e)'),
 ('Jacquot Philippe', 'Représentant(e)'),
 ('Jeandel Véronique', 'Représentant(e)'),
 ('Jenny Michel', 'Représentant(e)'),
 ('Kessler Marc', 'Représentant(e)'),
 ('King Robert', 'Représentant(e)'),
 ('Kremser Arnaud', 'Représentant(e)'),
 ('Lamarre Eric', 'Représentant(e)'),
 ('Lampis Gabrielle', 'Assistante commerciale'),
 ('Lefebvre Michel', 'Représentant(e)'),
 ('Leger Pierre', 'Chef des ventes'),
 ('Letertre Sylvie', 'Représentant(e)'),
 ('Leverling Janet', 'Représentant(e)'),
 ('Lombard Christiane', 'Représentant(e)'),
 ('Maillard Corinne', 'Représentant(e)'),
 ('Malejac Yannick', 'Représentant(e)'),
 ('Mangeard Jocelyne', 'Représentant(e)'),
 ('Marchand Dominique', 'Représentant(e)'),
 ('Marielle Michel', 'Représentant(e)'),
 ('Maurer Véronique', 'Assistante commerciale'),
 ('Maurousset James', 'Représentant(e)'),
 ('Mennetrier Alexandra', 'Représentant(e)'),
 ('Messelier Philippe', 'Représentant(e)'),
 ('Michiels François', 'Représentant(e)'),
 ('Montesinos Aline', 'Représentant(e)'),
 ('Mure Guy', 'Représentant(e)'),
 ('Nocella Guy', 'Représentant(e)'),
 ('Pagani Hector', 'Représentant(e)'),
 ('Peacock Margaret', 'Représentant(e)'),
 ('Pequignot Guy', 'Représentant(e)'),
 ('Perny Sylvie', 'Représentant(e)'),
 ('Perret Laurence', 'Représentant(e)'),
 ('Petit Michel', 'Représentant(e)'),
 ('Piroddi Nathalie', 'Représentant(e)'),
 ('Poidatz Benoît', 'Représentant(e)'),
 ('Pouetre Camille-Hélène', 'Assistante commerciale'),
 ('Poupard Claudette', 'Assistante commerciale'),
 ('Ragon André', 'Chef des ventes'),
 ('Regner Charles', 'Représentant(e)'),
 ('Rivat Jean-Louis', 'Représentant(e)'),
 ('Rollet Philippe', 'Représentant(e)'),
 ('Seigne Marie-Pierre', 'Représentant(e)'),
 ('Silberreiss Albert', 'Représentant(e)'),
 ('Splingart Lydia', 'Chef des ventes'),
 ('Steiner Jean', 'Représentant(e)'),
 ('Suyama Michael', 'Représentant(e)'),
 ('Teixeira Claudia', 'Représentant(e)'),
 ('Thimoleon Georges', 'Représentant(e)'),
 ('Thomas Patricia', 'Représentant(e)'),
 ('Tourtel Nicole', 'Représentant(e)'),
 ('Twardowski Colette', 'Représentant(e)'),
 ('Urbaniak Isabelle', 'Représentant(e)'),
 ('Valot Alain', 'Représentant(e)'),
 ('Viry Yvan', 'Représentant(e)'),
 ('Weiss Sylvie', 'Représentant(e)'),
 ('Ziliox Francoise', 'Assistante commerciale'),
 ('Zonca Virginie', 'Représentant(e)')]

Le tri se fait d'abord selon le premier critère spécifié dans la clause « **ORDER BY** », puis les lignes ayant la même valeur pour le premier critère sont triées selon le deuxième critère de la clause « **ORDER BY** », etc.

In [21]:
%%sql 
SELECT NOM_PRODUIT, NO_FOURNISSEUR, CODE_CATEGORIE 
FROM PRODUITS
ORDER BY NO_FOURNISSEUR, CODE_CATEGORIE DESC

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Aniseed Syrup', 1, 2),
 ('Chai', 1, 1),
 ('Chang', 1, 1),
 ('Cherry Pie Filling', 2, 9),
 ('Amandes', 2, 7),
 ('Brownie Mix', 2, 3),
 ("Chef Anton's Gumbo Mix", 2, 2),
 ('Louisiana Hot Spiced Okra', 2, 2),
 ("Chef Anton's Cajun Seasoning", 2, 2),
 ('Louisiana Fiery Hot Pepper Sauce', 2, 2),
 ("Uncle Bob's Organic Dried Pears", 3, 7),
 ('Northwoods Cranberry Sauce', 3, 2),
 ("Grandma's Boysenberry Spread", 3, 2),
 ('Corn', 4, 9),
 ('Ikura', 4, 8),
 ('Longlife Tofu', 4, 7),
 ('Long Grain Rice', 4, 7),
 ('Mishi Kobe Niku', 4, 6),
 ('Scones', 4, 3),
 ('Mustard', 4, 2),
 ('Green Beans', 5, 9),
 ('Peas', 5, 9),
 ('Walnuts', 5, 7),
 ('Queso Cabrales', 5, 4),
 ('Queso Manchego La Pastora', 5, 4),
 ('Peaches', 6, 9),
 ('Konbu', 6, 8),
 ('Tofu', 6, 7),
 ('Long Grain Rice - Gnocchi', 6, 5),
 ('Les Comptoirs  - Olive Oil', 6, 2),
 ('Genen Shouyu', 6, 2),
 ('Carnarvon Tigers', 7, 8),
 ('Alice Mutton', 7, 6),
 ('Chocolate Biscuits Mix', 7, 3),
 ('Pavlova', 7, 3),
 ('Vegie-spread', 7, 2),
 ('Outback Lager', 7, 1),
 ('Dried Plums', 8, 7),
 ("Sir Rodney's Marmalade", 8, 3),
 ('Scottish Longbreads', 8, 3),
 ('Teatime Chocolate Biscuits', 8, 3),
 ("Sir Rodney's Scones", 8, 3),
 ('Tunnbröd', 9, 5),
 ("Gustaf's Knäckebröd", 9, 5),
 ('Guaraná Fantástica', 10, 1),
 ('Granola', 11, 5),
 ('Schoggi Schokolade', 11, 3),
 ('NuNuCa Nuß-Nougat-Creme', 11, 3),
 ('Gumbär Gummibärchen', 11, 3),
 ('Rössle Sauerkraut', 12, 7),
 ('Thüringer Rostbratwurst', 12, 6),
 ('Wimmers gute Semmelknödel', 12, 5),
 ('Original Frankfurter grüne Soße', 12, 2),
 ('Rhönbräu Klosterbier', 12, 1),
 ('Fruit Cocktail', 13, 9),
 ('Nord-Ost Matjeshering', 13, 8),
 ('Vegetable Soup', 13, 2),
 ('Smoked Salmon', 14, 10),
 ('Ravioli', 14, 5),
 ('Gorgonzola Telino', 14, 4),
 ('Mascarpone Fabioli', 14, 4),
 ('Mozzarella di Giovanni', 14, 4),
 ('Clam Chowder', 14, 2),
 ('Hot Pepper Sauce', 14, 2),
 ('Green Tea', 14, 1),
 ('Tea', 14, 1),
 ('Gudbrandsdalsost', 15, 4),
 ('Fløtemysost', 15, 4),
 ('Geitost', 15, 4),
 ('Tomato Sauce', 16, 2),
 ('Chicken Soup', 16, 2),
 ('Sasquatch Ale', 16, 1),
 ('Steeleye Stout', 16, 1),
 ('Laughing Lumberjack Lager', 16, 1),
 ('Coffee', 16, 1),
 ('Inlagd Sill', 17, 8),
 ('Gravad lax', 17, 8),
 ('Röd Kaviar', 17, 8),
 ('Syrup', 17, 2),
 ('Hot Cereal', 18, 5),
 ('Mozzarella', 18, 4),
 ('Côte de Blaye', 18, 1),
 ('Chartreuse verte', 18, 1),
 ('Beer', 18, 1),
 ('Crab Meat', 19, 10),
 ("Jack's New England Clam Chowder", 19, 8),
 ('Boston Crab Meat', 19, 8),
 ('Singaporean Hokkien Fried Mee', 20, 5),
 ('Cake Mix', 20, 3),
 ('Gula Malacca', 20, 2),
 ('Ipoh Coffee', 20, 1),
 ('Spegesild', 21, 8),
 ('Røgede sild', 21, 8),
 ('Dried Apples', 21, 7),
 ('Dried Pears', 21, 7),
 ('Zaanse koeken', 22, 3),
 ('Chocolade', 22, 3),
 ('Potato Chips', 23, 7),
 ('Maxilaku', 23, 3),
 ('Valkoinen suklaa', 23, 3),
 ('Lakkalikööri', 23, 1),
 ('Marmalade', 24, 9),
 ('Manjimup Dried Apples', 24, 7),
 ('Perth Pasties', 24, 6),
 ('Filo Mix', 24, 5),
 ('Pears', 25, 9),
 ('Tourtière', 25, 6),
 ('Pâté chinois', 25, 6),
 ('Boysenberry Spread', 26, 9),
 ('Ravioli Angelo', 26, 5),
 ('Gnocchi di nonna Alice', 26, 5),
 ('Curry Sauce', 26, 2),
 ('Tuna Fish', 27, 10),
 ('Pineapple', 27, 9),
 ('Escargots de Bourgogne', 27, 8),
 ('Cajun Seasoning', 27, 2),
 ('Raclette Courdavault', 28, 4),
 ('Camembert Pierrot', 28, 4),
 ('Tarte au sucre', 29, 3),
 ("Sirop d'érable", 29, 2)]

Si un attribut sur lequel porte un critère de tri contient la valeur « **NULL** », les lignes correspondantes sont affichées en dernier. Oracle traite les valeurs « **NULL** » comme si elles étaient des valeurs infinies.

In [22]:
%%sql 
SELECT NOM,PRENOM,SALAIRE,COMMISSION
FROM EMPLOYES
ORDER BY COMMISSION

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Petit', 'Michel', Decimal('6300'), Decimal('20')),
 ('Gregoire', 'Renée', Decimal('8000'), Decimal('30')),
 ('Michiels', 'François', Decimal('5500'), Decimal('40')),
 ('Dupouey', 'Pierre', Decimal('5500'), Decimal('40')),
 ('Jenny', 'Michel', Decimal('9800'), Decimal('150')),
 ('Arrambide', 'Jean Pierre', Decimal('5400'), Decimal('190')),
 ('Piroddi', 'Nathalie', Decimal('6700'), Decimal('190')),
 ('Mangeard', 'Jocelyne', Decimal('8200'), Decimal('190')),
 ('Dohr', 'Sylvie', Decimal('8200'), Decimal('200')),
 ('Lamarre', 'Eric', Decimal('7800'), Decimal('200')),
 ('Poidatz', 'Benoît', Decimal('6600'), Decimal('200')),
 ('Leverling', 'Janet', Decimal('7400'), Decimal('240')),
 ('Rivat', 'Jean-Louis', Decimal('5200'), Decimal('310')),
 ('Teixeira', 'Claudia', Decimal('6800'), Decimal('330')),
 ('Perny', 'Sylvie', Decimal('6500'), Decimal('340')),
 ('Blard', 'Jean-Benoît', Decimal('5900'), Decimal('340')),
 ('Suyama', 'Michael', Decimal('8400'), Decimal('400')),
 ('Capharsie', 'Gérard', Decimal('9400'), Decimal('410')),
 ('Duriez', 'Maurice', Decimal('9100'), Decimal('420')),
 ('Guillossou', 'Nadine', Decimal('5200'), Decimal('470')),
 ('Zonca', 'Virginie', Decimal('6700'), Decimal('470')),
 ('Dodsworth', 'Anne', Decimal('8800'), Decimal('490')),
 ('Delorgue', 'Jean', Decimal('5900'), Decimal('510')),
 ('Perret', 'Laurence', Decimal('9500'), Decimal('520')),
 ('Lefebvre', 'Michel', Decimal('9200'), Decimal('530')),
 ('Damas', 'Lydiane', Decimal('7700'), Decimal('530')),
 ('Cazade', 'Anne-Claire', Decimal('7200'), Decimal('550')),
 ('Canu', 'Christian', Decimal('5800'), Decimal('550')),
 ('Rollet', 'Philippe', Decimal('5000'), Decimal('570')),
 ('Cheutin', 'Corinne', Decimal('10000'), Decimal('570')),
 ('Idesheim', 'Annick', Decimal('7300'), Decimal('600')),
 ('Valot', 'Alain', Decimal('9200'), Decimal('680')),
 ('Bettan', 'Henri-Michel', Decimal('5500'), Decimal('690')),
 ('Bodard', 'René', Decimal('5500'), Decimal('720')),
 ('Cleret', 'Doris', Decimal('7900'), Decimal('720')),
 ('Viry', 'Yvan', Decimal('6700'), Decimal('740')),
 ('Aubert', 'Maria', Decimal('5100'), Decimal('750')),
 ('Bazart', 'Régis', Decimal('8900'), Decimal('760')),
 ('Coutou', 'Myriam', Decimal('6900'), Decimal('770')),
 ('Destenay', 'Agnès', Decimal('9900'), Decimal('790')),
 ('Nocella', 'Guy', Decimal('7600'), Decimal('910')),
 ('Cremel', 'Brigitte', Decimal('6900'), Decimal('910')),
 ('Di Clemente', 'Luc', Decimal('8400'), Decimal('920')),
 ('Peacock', 'Margaret', Decimal('6100'), Decimal('930')),
 ('Besse', 'José', Decimal('9900'), Decimal('940')),
 ('Berlioz', 'Jacques', Decimal('9400'), Decimal('980')),
 ('Griner', 'Florence', Decimal('8100'), Decimal('980')),
 ('Alvarez', 'Marcel', Decimal('7200'), Decimal('1010')),
 ('Jacquot', 'Philippe', Decimal('8900'), Decimal('1030')),
 ('King', 'Robert', Decimal('7200'), Decimal('1040')),
 ('Charles', 'Philippe', Decimal('6000'), Decimal('1080')),
 ('Silberreiss', 'Albert', Decimal('9200'), Decimal('1100')),
 ('Falatik', 'Bernard', Decimal('7600'), Decimal('1100')),
 ('Weiss', 'Sylvie', Decimal('6600'), Decimal('1110')),
 ('Montesinos', 'Aline', Decimal('8700'), Decimal('1130')),
 ('Malejac', 'Yannick', Decimal('8700'), Decimal('1130')),
 ('Mure', 'Guy', Decimal('8200'), Decimal('1140')),
 ('Jeandel', 'Véronique', Decimal('9200'), Decimal('1150')),
 ('Seigne', 'Marie-Pierre', Decimal('9600'), Decimal('1160')),
 ('Herve', 'Didier', Decimal('6700'), Decimal('1170')),
 ('Barre', 'Jean-Paul', Decimal('8800'), Decimal('1220')),
 ('Thimoleon', 'Georges', Decimal('8000'), Decimal('1270')),
 ('Marchand', 'Dominique', Decimal('6900'), Decimal('1280')),
 ('Maillard', 'Corinne', Decimal('6600'), Decimal('1300')),
 ('Thomas', 'Patricia', Decimal('7100'), Decimal('1310')),
 ('Steiner', 'Jean', Decimal('5400'), Decimal('1310')),
 ('Pagani', 'Hector', Decimal('6500'), Decimal('1330')),
 ('Lombard', 'Christiane', Decimal('6400'), Decimal('1350')),
 ('Clement', 'Valérie', Decimal('7200'), Decimal('1370')),
 ('Regner', 'Charles', Decimal('9300'), Decimal('1380')),
 ('Brunet', 'Jean-Luc', Decimal('6600'), Decimal('1400')),
 ('Messelier', 'Philippe', Decimal('9500'), Decimal('1470')),
 ('Gardeil', 'Henri', Decimal('7800'), Decimal('1520')),
 ('Chaussende', 'Maurice', Decimal('6600'), Decimal('1530')),
 ('Twardowski', 'Colette', Decimal('9400'), Decimal('1540')),
 ('Marielle', 'Michel', Decimal('7100'), Decimal('1550')),
 ('Maurousset', 'James', Decimal('8100'), Decimal('1560')),
 ('Espeche', 'Eric', Decimal('6500'), Decimal('1580')),
 ('Kremser', 'Arnaud', Decimal('6000'), Decimal('1610')),
 ('Hanriot', 'Catherine', Decimal('8300'), Decimal('1700')),
 ('Davolio', 'Nancy', Decimal('8200'), Decimal('1740')),
 ('Urbaniak', 'Isabelle', Decimal('7000'), Decimal('1760')),
 ('Kessler', 'Marc', Decimal('6800'), Decimal('1780')),
 ('Courty', 'Jean-Louis', Decimal('9900'), Decimal('1800')),
 ('Gerard', 'Sylvie', Decimal('8200'), Decimal('1800')),
 ('Pequignot', 'Guy', Decimal('6200'), Decimal('1820')),
 ('Aubry', 'Jean-Claude', Decimal('9500'), Decimal('1850')),
 ('Frederic', 'Jean Marie', Decimal('8100'), Decimal('1870')),
 ('Letertre', 'Sylvie', Decimal('5600'), Decimal('1890')),
 ('Tourtel', 'Nicole', Decimal('8100'), Decimal('1920')),
 ('Mennetrier', 'Alexandra', Decimal('8700'), Decimal('1970')),
 ('Burst', 'Jean-Yves', Decimal('7700'), Decimal('1980')),
 ('Ragon', 'André', Decimal('13000'), Decimal('5980')),
 ('Belin', 'Chantal', Decimal('10000'), Decimal('10640')),
 ('Leger', 'Pierre', Decimal('19000'), Decimal('11150')),
 ('Chambaud', 'Axelle', Decimal('12000'), Decimal('11600')),
 ('Buchanan', 'Steven', Decimal('13000'), Decimal('12940')),
 ('Splingart', 'Lydia', Decimal('16000'), Decimal('16480')),
 ('Guerdon', 'Béatrice', Decimal('1700'), None),
 ('Grangirard', 'Patricia', Decimal('1700'), None),
 ('Etienne', 'Brigitte', Decimal('2000'), None),
 ('Giroux', 'Jean-Claude', Decimal('150000'), None),
 ('Devie', 'Thérèse', Decimal('1540'), None),
 ('Callahan', 'Laura', Decimal('1200'), None),
 ('Lampis', 'Gabrielle', Decimal('1300'), None),
 ('Pouetre', 'Camille-Hélène', Decimal('2000'), None),
 ('Poupard', 'Claudette', Decimal('1800'), None),
 ('Brasseur', 'Hervé', Decimal('147000'), None),
 ('Fuller', 'Andrew', Decimal('96000'), None),
 ('Ziliox', 'Francoise', Decimal('1900'), None),
 ('Maurer', 'Véronique', Decimal('1400'), None)]

In [23]:
%%sql 
SELECT NOM,PRENOM,SALAIRE,COMMISSION
FROM EMPLOYES
ORDER BY COMMISSION NULLS FIRST

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Ziliox', 'Francoise', Decimal('1900'), None),
 ('Guerdon', 'Béatrice', Decimal('1700'), None),
 ('Grangirard', 'Patricia', Decimal('1700'), None),
 ('Devie', 'Thérèse', Decimal('1540'), None),
 ('Maurer', 'Véronique', Decimal('1400'), None),
 ('Poupard', 'Claudette', Decimal('1800'), None),
 ('Fuller', 'Andrew', Decimal('96000'), None),
 ('Etienne', 'Brigitte', Decimal('2000'), None),
 ('Lampis', 'Gabrielle', Decimal('1300'), None),
 ('Callahan', 'Laura', Decimal('1200'), None),
 ('Brasseur', 'Hervé', Decimal('147000'), None),
 ('Pouetre', 'Camille-Hélène', Decimal('2000'), None),
 ('Giroux', 'Jean-Claude', Decimal('150000'), None),
 ('Petit', 'Michel', Decimal('6300'), Decimal('20')),
 ('Gregoire', 'Renée', Decimal('8000'), Decimal('30')),
 ('Michiels', 'François', Decimal('5500'), Decimal('40')),
 ('Dupouey', 'Pierre', Decimal('5500'), Decimal('40')),
 ('Jenny', 'Michel', Decimal('9800'), Decimal('150')),
 ('Arrambide', 'Jean Pierre', Decimal('5400'), Decimal('190')),
 ('Mangeard', 'Jocelyne', Decimal('8200'), Decimal('190')),
 ('Piroddi', 'Nathalie', Decimal('6700'), Decimal('190')),
 ('Lamarre', 'Eric', Decimal('7800'), Decimal('200')),
 ('Dohr', 'Sylvie', Decimal('8200'), Decimal('200')),
 ('Poidatz', 'Benoît', Decimal('6600'), Decimal('200')),
 ('Leverling', 'Janet', Decimal('7400'), Decimal('240')),
 ('Rivat', 'Jean-Louis', Decimal('5200'), Decimal('310')),
 ('Teixeira', 'Claudia', Decimal('6800'), Decimal('330')),
 ('Blard', 'Jean-Benoît', Decimal('5900'), Decimal('340')),
 ('Perny', 'Sylvie', Decimal('6500'), Decimal('340')),
 ('Suyama', 'Michael', Decimal('8400'), Decimal('400')),
 ('Capharsie', 'Gérard', Decimal('9400'), Decimal('410')),
 ('Duriez', 'Maurice', Decimal('9100'), Decimal('420')),
 ('Zonca', 'Virginie', Decimal('6700'), Decimal('470')),
 ('Guillossou', 'Nadine', Decimal('5200'), Decimal('470')),
 ('Dodsworth', 'Anne', Decimal('8800'), Decimal('490')),
 ('Delorgue', 'Jean', Decimal('5900'), Decimal('510')),
 ('Perret', 'Laurence', Decimal('9500'), Decimal('520')),
 ('Lefebvre', 'Michel', Decimal('9200'), Decimal('530')),
 ('Damas', 'Lydiane', Decimal('7700'), Decimal('530')),
 ('Cazade', 'Anne-Claire', Decimal('7200'), Decimal('550')),
 ('Canu', 'Christian', Decimal('5800'), Decimal('550')),
 ('Rollet', 'Philippe', Decimal('5000'), Decimal('570')),
 ('Cheutin', 'Corinne', Decimal('10000'), Decimal('570')),
 ('Idesheim', 'Annick', Decimal('7300'), Decimal('600')),
 ('Valot', 'Alain', Decimal('9200'), Decimal('680')),
 ('Bettan', 'Henri-Michel', Decimal('5500'), Decimal('690')),
 ('Cleret', 'Doris', Decimal('7900'), Decimal('720')),
 ('Bodard', 'René', Decimal('5500'), Decimal('720')),
 ('Viry', 'Yvan', Decimal('6700'), Decimal('740')),
 ('Aubert', 'Maria', Decimal('5100'), Decimal('750')),
 ('Bazart', 'Régis', Decimal('8900'), Decimal('760')),
 ('Coutou', 'Myriam', Decimal('6900'), Decimal('770')),
 ('Destenay', 'Agnès', Decimal('9900'), Decimal('790')),
 ('Nocella', 'Guy', Decimal('7600'), Decimal('910')),
 ('Cremel', 'Brigitte', Decimal('6900'), Decimal('910')),
 ('Di Clemente', 'Luc', Decimal('8400'), Decimal('920')),
 ('Peacock', 'Margaret', Decimal('6100'), Decimal('930')),
 ('Besse', 'José', Decimal('9900'), Decimal('940')),
 ('Berlioz', 'Jacques', Decimal('9400'), Decimal('980')),
 ('Griner', 'Florence', Decimal('8100'), Decimal('980')),
 ('Alvarez', 'Marcel', Decimal('7200'), Decimal('1010')),
 ('Jacquot', 'Philippe', Decimal('8900'), Decimal('1030')),
 ('King', 'Robert', Decimal('7200'), Decimal('1040')),
 ('Charles', 'Philippe', Decimal('6000'), Decimal('1080')),
 ('Silberreiss', 'Albert', Decimal('9200'), Decimal('1100')),
 ('Falatik', 'Bernard', Decimal('7600'), Decimal('1100')),
 ('Weiss', 'Sylvie', Decimal('6600'), Decimal('1110')),
 ('Montesinos', 'Aline', Decimal('8700'), Decimal('1130')),
 ('Malejac', 'Yannick', Decimal('8700'), Decimal('1130')),
 ('Mure', 'Guy', Decimal('8200'), Decimal('1140')),
 ('Jeandel', 'Véronique', Decimal('9200'), Decimal('1150')),
 ('Seigne', 'Marie-Pierre', Decimal('9600'), Decimal('1160')),
 ('Herve', 'Didier', Decimal('6700'), Decimal('1170')),
 ('Barre', 'Jean-Paul', Decimal('8800'), Decimal('1220')),
 ('Thimoleon', 'Georges', Decimal('8000'), Decimal('1270')),
 ('Marchand', 'Dominique', Decimal('6900'), Decimal('1280')),
 ('Maillard', 'Corinne', Decimal('6600'), Decimal('1300')),
 ('Thomas', 'Patricia', Decimal('7100'), Decimal('1310')),
 ('Steiner', 'Jean', Decimal('5400'), Decimal('1310')),
 ('Pagani', 'Hector', Decimal('6500'), Decimal('1330')),
 ('Lombard', 'Christiane', Decimal('6400'), Decimal('1350')),
 ('Clement', 'Valérie', Decimal('7200'), Decimal('1370')),
 ('Regner', 'Charles', Decimal('9300'), Decimal('1380')),
 ('Brunet', 'Jean-Luc', Decimal('6600'), Decimal('1400')),
 ('Messelier', 'Philippe', Decimal('9500'), Decimal('1470')),
 ('Gardeil', 'Henri', Decimal('7800'), Decimal('1520')),
 ('Chaussende', 'Maurice', Decimal('6600'), Decimal('1530')),
 ('Twardowski', 'Colette', Decimal('9400'), Decimal('1540')),
 ('Marielle', 'Michel', Decimal('7100'), Decimal('1550')),
 ('Maurousset', 'James', Decimal('8100'), Decimal('1560')),
 ('Espeche', 'Eric', Decimal('6500'), Decimal('1580')),
 ('Kremser', 'Arnaud', Decimal('6000'), Decimal('1610')),
 ('Hanriot', 'Catherine', Decimal('8300'), Decimal('1700')),
 ('Davolio', 'Nancy', Decimal('8200'), Decimal('1740')),
 ('Urbaniak', 'Isabelle', Decimal('7000'), Decimal('1760')),
 ('Kessler', 'Marc', Decimal('6800'), Decimal('1780')),
 ('Gerard', 'Sylvie', Decimal('8200'), Decimal('1800')),
 ('Courty', 'Jean-Louis', Decimal('9900'), Decimal('1800')),
 ('Pequignot', 'Guy', Decimal('6200'), Decimal('1820')),
 ('Aubry', 'Jean-Claude', Decimal('9500'), Decimal('1850')),
 ('Frederic', 'Jean Marie', Decimal('8100'), Decimal('1870')),
 ('Letertre', 'Sylvie', Decimal('5600'), Decimal('1890')),
 ('Tourtel', 'Nicole', Decimal('8100'), Decimal('1920')),
 ('Mennetrier', 'Alexandra', Decimal('8700'), Decimal('1970')),
 ('Burst', 'Jean-Yves', Decimal('7700'), Decimal('1980')),
 ('Ragon', 'André', Decimal('13000'), Decimal('5980')),
 ('Belin', 'Chantal', Decimal('10000'), Decimal('10640')),
 ('Leger', 'Pierre', Decimal('19000'), Decimal('11150')),
 ('Chambaud', 'Axelle', Decimal('12000'), Decimal('11600')),
 ('Buchanan', 'Steven', Decimal('13000'), Decimal('12940')),
 ('Splingart', 'Lydia', Decimal('16000'), Decimal('16480'))]

# La limitation d’enregistrements

In [24]:
%%sql 
SELECT CODE_CATEGORIE,NOM_CATEGORIE 
FROM CATEGORIES  FETCH FIRST 3 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 'Boissons'), (2, 'Condiments'), (3, 'Desserts')]

In [25]:
%%sql 
SELECT CODE_CATEGORIE,NOM_CATEGORIE 
FROM CATEGORIES  OFFSET 5 ROWS FETCH NEXT 3 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(6, 'Viandes'), (7, 'Produits secs'), (8, 'Poissons et fruits de mer')]

In [26]:
%%sql 
SELECT NOM_PRODUIT, UNITES_STOCK 
FROM PRODUITS 
ORDER BY UNITES_STOCK DESC NULLS LAST 
FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Potato Chips', 200),
 ('Rhönbräu Klosterbier', 125),
 ('Green Tea', 125),
 ('Boston Crab Meat', 123),
 ("Grandma's Boysenberry Spread", 120)]

In [27]:
%%sql 
SELECT NOM_PRODUIT, UNITES_STOCK 
FROM PRODUITS 
ORDER BY UNITES_STOCK DESC NULLS LAST 
FETCH NEXT 5 ROWS WITH TIES

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[('Potato Chips', 200),
 ('Rhönbräu Klosterbier', 125),
 ('Green Tea', 125),
 ('Boston Crab Meat', 123),
 ("Grandma's Boysenberry Spread", 120),
 ('Long Grain Rice - Gnocchi', 120),
 ('Crab Meat', 120)]

In [28]:
%%sql 
SELECT NO_COMMANDE,REF_PRODUIT,QUANTITE,PRIX_UNITAIRE
FROM DETAILS_COMMANDES FETCH NEXT 5 ROWS ONLY

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(214994, 87, 34, Decimal('62.16')),
 (214994, 49, 89, Decimal('88.2')),
 (214994, 3, 53, Decimal('37.56')),
 (214994, 84, 104, Decimal('48.72')),
 (214994, 57, 125, Decimal('65.04'))]

# Atelier 2.1	Interrogation des données

## Projection
Écrivez les requêtes vous permettant d’afficher :
>> * Le nom, le prénom et la date de naissance de tous les employés de la société.<br>
>> * Le nom de la société, la ville et le pays de tous les fournisseurs.<br>
>> * La fonction de tous les employés.<br>
>> * Toutes les fonctions des employés de l’entreprise, chaque fonction doit être affichée une seule fois.<br>
>> * La liste des localités dans lesquelles la société a au moins un client.<br>

## Opérateurs
Créez les requêtes vous permettant d’afficher :
>> * Les produits commercialisés, la valeur du stock par produit et la valeur des produits commandés. Dans la table **PRODUITS**, vous trouvez les champs **UNITES_STOCK** et **UNITES_COMMANDEES** que vous multipliez par le **PRIX_UNITAIRE** pour retrouver les valeurs des deux stocks.<br>
>> * Le nom, le prénom, l’âge et l’ancienneté des employés, dans la société.<br>
>> * Le numéro de la commande, le temps écoulé entre la commande et la livraison de celle-ci ainsi que les frais de port.<br>

## Les ordres de tri
>> * Les employés par ordre alphabétique.<br>
>> * Les employés depuis le plus récemment embauché jusqu’au plus ancien.<br>
>> * Les fournisseurs dans l’ordre alphabétique de leur pays et ville de résidence.<br>
>> * Les employés par ordre alphabétique de leur fonction et du plus grand salaire au plus petit.<br>
>> * Les employés dans l’ordre de leur commission.<br>