# Les imports et configuration du document

In [1]:
import pandas as pd 
import seaborn as sns
import warnings 
import os
from datetime import datetime
warnings.filterwarnings(action="ignore")

%pylab inline

plt.style.use('seaborn-darkgrid')
sns.set(font_scale=3)

os.chdir(r"C:\SimplonIA\donnees")

Populating the interactive namespace from numpy and matplotlib

## La lecture des fichiers d'un répértoire

In [2]:
for dirname, _, filenames in os.walk('meteo'):
    for filename in filenames:
        if filename.rfind('synop') >= 0 :
            print(os.path.join(dirname, filename))

meteo\synop.199601.csv
meteo\synop.199602.csv
meteo\synop.199603.csv
meteo\synop.199604.csv
meteo\synop.199605.csv
meteo\synop.199606.csv
meteo\synop.199607.csv
meteo\synop.199608.csv
meteo\synop.199609.csv
meteo\synop.199610.csv
meteo\synop.199611.csv
meteo\synop.199612.csv
meteo\synop.199701.csv
meteo\synop.199702.csv
meteo\synop.199703.csv
meteo\synop.199704.csv
meteo\synop.199705.csv
meteo\synop.199706.csv
meteo\synop.199707.csv
meteo\synop.199708.csv
meteo\synop.199709.csv
meteo\synop.199710.csv
meteo\synop.199711.csv
meteo\synop.199712.csv
meteo\synop.199801.csv
meteo\synop.199802.csv
meteo\synop.199803.csv
meteo\synop.199804.csv
meteo\synop.199805.csv
meteo\synop.199806.csv
meteo\synop.199807.csv
meteo\synop.199808.csv
meteo\synop.199809.csv
meteo\synop.199810.csv
meteo\synop.199811.csv
meteo\synop.199812.csv
meteo\synop.199901.csv
meteo\synop.199902.csv
meteo\synop.199903.csv
meteo\synop.199904.csv
meteo\synop.199905.csv
meteo\synop.199906.csv
meteo\synop.199907.csv
meteo\synop.199908.csv
meteo\synop.199909.csv
meteo\synop.199910.csv
meteo\synop.199911.csv
meteo\synop.199912.csv
meteo\synop.200001.csv
meteo\synop.200002.csv
meteo\synop.200003.csv
meteo\synop.200004.csv
meteo\synop.200005.csv
meteo\synop.200006.csv
meteo\synop.200007.csv
meteo\synop.200008.csv
meteo\synop.200009.csv
meteo\synop.200010.csv
meteo\synop.200011.csv
meteo\synop.200012.csv
meteo\synop.200101.csv
meteo\synop.200102.csv
meteo\synop.200103.csv
meteo\synop.200104.csv
meteo\synop.200105.csv
meteo\synop.200106.csv
meteo\synop.200107.csv
meteo\synop.200108.csv
meteo\synop.200109.csv
meteo\synop.200110.csv
meteo\synop.200111.csv
meteo\synop.200112.csv
meteo\synop.200201.csv
meteo\synop.200202.csv
meteo\synop.200203.csv
meteo\synop.200204.csv
meteo\synop.200205.csv
meteo\synop.200206.csv
meteo\synop.200207.csv
meteo\synop.200208.csv
meteo\synop.200209.csv
meteo\synop.200210.csv
meteo\synop.200211.csv
meteo\synop.200212.csv
meteo\synop.200301.csv
meteo\synop.200302.csv
meteo\synop.200303.csv
meteo\synop.200304.csv
meteo\synop.200305.csv
meteo\synop.200306.csv
meteo\synop.200307.csv
meteo\synop.200308.csv
meteo\synop.200309.csv
meteo\synop.200310.csv
meteo\synop.200311.csv
meteo\synop.200312.csv
meteo\synop.200401.csv
meteo\synop.200402.csv
meteo\synop.200403.csv
meteo\synop.200404.csv
meteo\synop.200405.csv
meteo\synop.200406.csv
meteo\synop.200407.csv
meteo\synop.200408.csv
meteo\synop.200409.csv
meteo\synop.200410.csv
meteo\synop.200411.csv
meteo\synop.200412.csv
meteo\synop.200501.csv
meteo\synop.200502.csv
meteo\synop.200503.csv
meteo\synop.200504.csv
meteo\synop.200505.csv
meteo\synop.200506.csv
meteo\synop.200507.csv
meteo\synop.200508.csv
meteo\synop.200509.csv
meteo\synop.200510.csv
meteo\synop.200511.csv
meteo\synop.200512.csv
meteo\synop.200601.csv
meteo\synop.200602.csv
meteo\synop.200603.csv
meteo\synop.200604.csv
meteo\synop.200605.csv
meteo\synop.200606.csv
meteo\synop.200607.csv
meteo\synop.200608.csv
meteo\synop.200609.csv
meteo\synop.200610.csv
meteo\synop.200611.csv
meteo\synop.200612.csv
meteo\synop.200701.csv
meteo\synop.200702.csv
meteo\synop.200703.csv
meteo\synop.200704.csv
meteo\synop.200705.csv
meteo\synop.200706.csv
meteo\synop.200707.csv
meteo\synop.200708.csv
meteo\synop.200709.csv
meteo\synop.200710.csv
meteo\synop.200711.csv
meteo\synop.200712.csv
meteo\synop.200801.csv
meteo\synop.200802.csv
meteo\synop.200803.csv
meteo\synop.200804.csv
meteo\synop.200805.csv
meteo\synop.200806.csv
meteo\synop.200807.csv
meteo\synop.200808.csv
meteo\synop.200809.csv
meteo\synop.200810.csv
meteo\synop.200811.csv
meteo\synop.200812.csv
meteo\synop.200901.csv
meteo\synop.200902.csv
meteo\synop.200903.csv
meteo\synop.200904.csv
meteo\synop.200905.csv
meteo\synop.200906.csv
meteo\synop.200907.csv
meteo\synop.200908.csv
meteo\synop.200909.csv
meteo\synop.200910.csv
meteo\synop.200911.csv
meteo\synop.200912.csv
meteo\synop.201001.csv
meteo\synop.201002.csv
meteo\synop.201003.csv
meteo\synop.201004.csv
meteo\synop.201005.csv
meteo\synop.201006.csv
meteo\synop.201007.csv
meteo\synop.201008.csv
meteo\synop.201009.csv
meteo\synop.201010.csv
meteo\synop.201011.csv
meteo\synop.201012.csv
meteo\synop.201101.csv
meteo\synop.201102.csv
meteo\synop.201103.csv
meteo\synop.201104.csv
meteo\synop.201105.csv
meteo\synop.201106.csv
meteo\synop.201107.csv
meteo\synop.201108.csv
meteo\synop.201109.csv
meteo\synop.201110.csv
meteo\synop.201111.csv
meteo\synop.201112.csv
meteo\synop.201201.csv
meteo\synop.201202.csv
meteo\synop.201203.csv
meteo\synop.201204.csv
meteo\synop.201205.csv
meteo\synop.201206.csv
meteo\synop.201207.csv
meteo\synop.201208.csv
meteo\synop.201209.csv
meteo\synop.201210.csv
meteo\synop.201211.csv
meteo\synop.201212.csv
meteo\synop.201301.csv
meteo\synop.201302.csv
meteo\synop.201303.csv
meteo\synop.201304.csv
meteo\synop.201305.csv
meteo\synop.201306.csv
meteo\synop.201307.csv
meteo\synop.201308.csv
meteo\synop.201309.csv
meteo\synop.201310.csv
meteo\synop.201311.csv
meteo\synop.201312.csv
meteo\synop.201401.csv
meteo\synop.201402.csv
meteo\synop.201403.csv
meteo\synop.201404.csv
meteo\synop.201405.csv
meteo\synop.201406.csv
meteo\synop.201407.csv
meteo\synop.201408.csv
meteo\synop.201409.csv
meteo\synop.201410.csv
meteo\synop.201411.csv
meteo\synop.201412.csv
meteo\synop.201501.csv
meteo\synop.201502.csv
meteo\synop.201503.csv
meteo\synop.201504.csv
meteo\synop.201505.csv
meteo\synop.201506.csv
meteo\synop.201507.csv
meteo\synop.201508.csv
meteo\synop.201509.csv
meteo\synop.201510.csv
meteo\synop.201511.csv
meteo\synop.201512.csv
meteo\synop.201601.csv
meteo\synop.201602.csv
meteo\synop.201603.csv
meteo\synop.201604.csv
meteo\synop.201605.csv
meteo\synop.201606.csv
meteo\synop.201607.csv
meteo\synop.201608.csv
meteo\synop.201609.csv
meteo\synop.201610.csv
meteo\synop.201611.csv
meteo\synop.201612.csv
meteo\synop.201701.csv
meteo\synop.201702.csv
meteo\synop.201703.csv
meteo\synop.201704.csv
meteo\synop.201705.csv
meteo\synop.201706.csv
meteo\synop.201707.csv
meteo\synop.201708.csv
meteo\synop.201709.csv
meteo\synop.201710.csv
meteo\synop.201711.csv
meteo\synop.201712.csv
meteo\synop.201801.csv
meteo\synop.201802.csv
meteo\synop.201803.csv
meteo\synop.201804.csv
meteo\synop.201805.csv
meteo\synop.201806.csv
meteo\synop.201807.csv
meteo\synop.201808.csv
meteo\synop.201809.csv
meteo\synop.201810.csv
meteo\synop.201811.csv
meteo\synop.201812.csv
meteo\synop.201901.csv
meteo\synop.201902.csv
meteo\synop.201903.csv
meteo\synop.201904.csv
meteo\synop.201905.csv
meteo\synop.201906.csv
meteo\synop.201907.csv
meteo\synop.201908.csv
meteo\synop.201909.csv
meteo\synop.201910.csv
meteo\synop.201911.csv
meteo\synop.201912.csv
meteo\synop.202001.csv
meteo\synop.202002.csv
meteo\synop.202003.csv
meteo\synop.202004.csv
meteo\synop.202005.csv
meteo\synop.202006.csv
meteo\synop.202007.csv
meteo\synop.202008.csv
meteo\synop.202009.csv

In [3]:
def dateparse(d):
    return pd.datetime.strptime(d,'%Y%m%d%H%M%S')

meteo = pd.DataFrame()

for dirname, _, filenames in os.walk('meteo'):
    for filename in filenames:
        if filename.rfind('synop') >= 0 :
            meteo = pd.concat([meteo,
                               pd.read_csv(os.path.join(dirname, filename),
                                           sep=';',
                                           usecols=['numer_sta','date','dd','ff','t','u','vv','pres'],
                                           na_values='mq',
                                           dtype={'numer_sta':str,'date':str},
                                           parse_dates={'DateHeure': ['date']},
                                           date_parser=dateparse
                                          ).rename( columns={'numer_sta':'Station',
                                                              'date':'Date',
                                                              'dd':'DirectionVent',
                                                              'ff':'VitesseVent',
                                                              't':'Temperature',
                                                              'u':'Humidite',
                                                              'vv':'Visibilite',
                                                              'pres':'Pression'})],axis=0)
meteo.head(5)

,DateHeure,Station,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression
0,1996-01-01,07005,170.0,2.0,276.04,99.0,NaN,99090.0
1,1996-01-01,07015,0.0,0.0,275.95,96.0,300.0,99380.0
2,1996-01-01,07020,180.0,8.2,281.65,99.0,NaN,99570.0
3,1996-01-01,07027,120.0,4.1,279.04,100.0,1200.0,99130.0
4,1996-01-01,07037,190.0,1.0,278.54,98.0,NaN,98170.0

In [2]:
postes = pd.read_csv('meteo/postesSynop.csv',sep=';',dtype={'ID':str})
postes.Nom =postes.Nom.apply(lambda x : x if x in ['CLERMONT-FD','MONT-DE-MARSAN',
                                       'ST-PIERRE','ST-BARTHELEMY METEO'] 
                               else x[0:x.find('-')] 
                                    if x.find('-') != -1 else x).apply(lambda x : str(x).title())
postes = postes[postes.ID < '08000']

In [3]:
postes

       ID               Nom   Latitude  Longitude  Altitude
0   07005         Abbeville  50.136000   1.834000        69
1   07015             Lille  50.570000   3.097500        47
2   07020   Pte De La Hague  49.725167  -1.939833         6
3   07027              Caen  49.180000  -0.456167        67
4   07037             Rouen  49.383000   1.181667       151
5   07072             Reims  49.209667   4.155333        95
6   07110             Brest  48.444167  -4.412000        94
7   07117       Ploumanac'H  48.825833  -3.473167        55
8   07130            Rennes  48.068833  -1.734000        36
9   07139           Alencon  48.445500   0.110167       143
10  07149              Orly  48.716833   2.384333        89
11  07168            Troyes  48.324667   4.020000       112
12  07181             Nancy  48.581000   5.959833       336
13  07190        Strasbourg  48.549500   7.640333       150
14  07207         Belle Ile  47.294333  -3.218333        34
15  07222            Nantes  47.150000  -1.608833        26
16  07240             Tours  47.444500   0.727333       108
17  07255           Bourges  47.059167   2.359833       161
18  07280             Dijon  47.267833   5.088333       219
19  07299              Bale  47.614333   7.510000       263
20  07314  Pte De Chassiron  46.046833  -1.411500        11
21  07335          Poitiers  46.593833   0.314333       123
22  07434           Limoges  45.861167   1.175000       402
23  07460       Clermont-Fd  45.786833   3.149333       331
24  07471            Le Puy  45.074500   3.764000       833
25  07481              Lyon  45.726500   5.077833       235
26  07510          Bordeaux  44.830667  -0.691333        47
27  07535           Gourdon  44.745000   1.396667       260
28  07558            Millau  44.118500   3.019500       712
29  07577        Montelimar  44.581167   4.733000        73
30  07591            Embrun  44.565667   6.502333       871
31  07607    Mont-De-Marsan  43.909833  -0.500167        59
32  07621            Tarbes  43.188000   0.000000       360
33  07627         St Girons  43.005333   1.106833       414
34  07630          Toulouse  43.621000   1.378833       151
35  07643       Montpellier  43.577000   3.963167         2
36  07650         Marignane  43.437667   5.216000         9
37  07661         Cap Cepet  43.079333   5.940833       115
38  07690              Nice  43.648833   7.209000         2
39  07747         Perpignan  42.737167   2.872833        42
40  07761           Ajaccio  41.918000   8.792667         5
41  07790            Bastia  42.540667   9.485167        10

In [16]:
meteo = postes.merge(meteo, how = "inner", 
                     left_on = "ID", right_on = "Station").drop(["ID","Station"], axis = "columns")

In [17]:
meteo.tail(5)

,Nom,Latitude,Longitude,Altitude,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression
3834058,Lamentin,14.595333,-60.995667,3,2020-09-30 00:00:00,100.0,3.9,301.05,87.0,47690.0,101270.0
3834059,Lamentin,14.595333,-60.995667,3,2020-09-30 03:00:00,100.0,4.8,301.25,86.0,47120.0,101310.0
3834060,Lamentin,14.595333,-60.995667,3,2020-09-30 09:00:00,90.0,3.8,300.95,87.0,35620.0,101160.0
3834061,Lamentin,14.595333,-60.995667,3,2020-09-30 18:00:00,110.0,3.9,302.45,88.0,14630.0,101110.0
3834062,Lamentin,14.595333,-60.995667,3,2020-09-30 21:00:00,90.0,5.1,300.35,81.0,31380.0,101150.0

## La description du dataframe

In [23]:
meteo.shape

(3834063, 11)

In [24]:
meteo.dtypes

Nom                      object
Latitude                float64
Longitude               float64
Altitude                  int64
DateHeure        datetime64[ns]
DirectionVent           float64
VitesseVent             float64
Temperature             float64
Humidite                float64
Visibilite              float64
Pression                float64
dtype: object

In [25]:
meteo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3834063 entries, 0 to 3834062
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   Nom            object
 1   Latitude       float64
 2   Longitude      float64
 3   Altitude       int64
 4   DateHeure      datetime64[ns]
 5   DirectionVent  float64
 6   VitesseVent    float64
 7   Temperature    float64
 8   Humidite       float64
 9   Visibilite     float64
 10  Pression       float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(1)
memory usage: 351.0+ MB

In [26]:
meteo.isna().sum()

Nom                   0
Latitude              0
Longitude             0
Altitude              0
DateHeure             0
DirectionVent     42759
VitesseVent       41760
Temperature        9822
Humidite          28560
Visibilite       888344
Pression         423308
dtype: int64

In [27]:
meteo.index,meteo.columns

(Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             3834053, 3834054, 3834055, 3834056, 3834057, 3834058, 3834059,
             3834060, 3834061, 3834062],
            dtype='int64', length=3834063),
 Index(['Nom', 'Latitude', 'Longitude', 'Altitude', 'DateHeure',
        'DirectionVent', 'VitesseVent', 'Temperature', 'Humidite', 'Visibilite',
        'Pression'],
       dtype='object'))

In [28]:
meteo.axes

[Int64Index([      0,       1,       2,       3,       4,       5,       6,
                   7,       8,       9,
             ...
             3834053, 3834054, 3834055, 3834056, 3834057, 3834058, 3834059,
             3834060, 3834061, 3834062],
            dtype='int64', length=3834063),
 Index(['Nom', 'Latitude', 'Longitude', 'Altitude', 'DateHeure',
        'DirectionVent', 'VitesseVent', 'Temperature', 'Humidite', 'Visibilite',
        'Pression'],
       dtype='object')]

In [29]:
meteo.describe()

,Latitude,Longitude,Altitude,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression
count,3.834063e+06,3.834063e+06,3.834063e+06,3.791304e+06,3.792303e+06,3.824241e+06,3.805503e+06,2.945719e+06,3.410755e+06
mean,3.373293e+01,4.610286e+00,1.410911e+02,1.806057e+02,4.271804e+00,2.876306e+02,7.588289e+01,2.223876e+04,9.974752e+04
std,2.643310e+01,2.743158e+01,1.959149e+02,1.056037e+02,3.080928e+00,8.583684e+00,1.657682e+01,1.496877e+04,2.483917e+03
min,-4.935233e+01,-6.285217e+01,2.000000e+00,0.000000e+00,0.000000e+00,2.408500e+02,1.000000e+00,0.000000e+00,1.025000e+04
25%,4.273717e+01,-5.001670e-01,1.100000e+01,9.000000e+01,2.100000e+00,2.812500e+02,6.600000e+01,1.200000e+04,9.895000e+04
50%,4.483067e+01,2.872833e+00,6.700000e+01,1.900000e+02,3.600000e+00,2.870500e+02,7.900000e+01,2.000000e+04,1.004900e+05
75%,4.761433e+01,6.502333e+00,1.510000e+02,2.700000e+02,6.100000e+00,2.943500e+02,8.900000e+01,3.000000e+04,1.012900e+05
max,5.057000e+01,7.756917e+01,8.710000e+02,4.000000e+02,9.600000e+01,3.691500e+02,1.000000e+02,8.001000e+04,1.099900e+05

In [21]:
meteo.to_csv(r'C:\SimplonIA\donnees\\meteo.csv', index=None, index_label=None)

In [18]:
meteo.to_parquet(r'C:\SimplonIA\donnees\\meteo.gzip',compression='gzip')

In [22]:
%%time
pd.read_csv(r'C:\SimplonIA\donnees\\meteo.csv')

Wall time: 3.59 s

,Nom,Latitude,Longitude,Altitude,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression
0,Abbeville,50.136000,1.834000,69,1996-01-01 00:00:00,170.0,2.0,276.04,99.0,NaN,99090.0
1,Abbeville,50.136000,1.834000,69,1996-01-01 03:00:00,130.0,3.0,275.85,99.0,NaN,99070.0
2,Abbeville,50.136000,1.834000,69,1996-01-01 06:00:00,120.0,3.0,276.04,99.0,100.0,99090.0
3,Abbeville,50.136000,1.834000,69,1996-01-01 09:00:00,130.0,4.1,276.75,99.0,800.0,99110.0
4,Abbeville,50.136000,1.834000,69,1996-01-01 12:00:00,100.0,5.1,277.54,99.0,1600.0,99040.0
...,...,...,...,...,...,...,...,...,...,...,...
3834058,Lamentin,14.595333,-60.995667,3,2020-09-30 00:00:00,100.0,3.9,301.05,87.0,47690.0,101270.0
3834059,Lamentin,14.595333,-60.995667,3,2020-09-30 03:00:00,100.0,4.8,301.25,86.0,47120.0,101310.0
3834060,Lamentin,14.595333,-60.995667,3,2020-09-30 09:00:00,90.0,3.8,300.95,87.0,35620.0,101160.0
3834061,Lamentin,14.595333,-60.995667,3,2020-09-30 18:00:00,110.0,3.9,302.45,88.0,14630.0,101110.0
3834062,Lamentin,14.595333,-60.995667,3,2020-09-30 21:00:00,90.0,5.1,300.35,81.0,31380.0,101150.0

In [20]:
%%time
pd.read_parquet(r'C:\SimplonIA\donnees\\meteo.gzip', engine='pyarrow')

Wall time: 311 ms

,Nom,Latitude,Longitude,Altitude,DateHeure,DirectionVent,VitesseVent,Temperature,Humidite,Visibilite,Pression
0,Abbeville,50.136000,1.834000,69,1996-01-01 00:00:00,170.0,2.0,276.04,99.0,NaN,99090.0
1,Abbeville,50.136000,1.834000,69,1996-01-01 03:00:00,130.0,3.0,275.85,99.0,NaN,99070.0
2,Abbeville,50.136000,1.834000,69,1996-01-01 06:00:00,120.0,3.0,276.04,99.0,100.0,99090.0
3,Abbeville,50.136000,1.834000,69,1996-01-01 09:00:00,130.0,4.1,276.75,99.0,800.0,99110.0
4,Abbeville,50.136000,1.834000,69,1996-01-01 12:00:00,100.0,5.1,277.54,99.0,1600.0,99040.0
...,...,...,...,...,...,...,...,...,...,...,...
3834058,Lamentin,14.595333,-60.995667,3,2020-09-30 00:00:00,100.0,3.9,301.05,87.0,47690.0,101270.0
3834059,Lamentin,14.595333,-60.995667,3,2020-09-30 03:00:00,100.0,4.8,301.25,86.0,47120.0,101310.0
3834060,Lamentin,14.595333,-60.995667,3,2020-09-30 09:00:00,90.0,3.8,300.95,87.0,35620.0,101160.0
3834061,Lamentin,14.595333,-60.995667,3,2020-09-30 18:00:00,110.0,3.9,302.45,88.0,14630.0,101110.0
3834062,Lamentin,14.595333,-60.995667,3,2020-09-30 21:00:00,90.0,5.1,300.35,81.0,31380.0,101150.0