# Configuration de la connexion à la base de données

In [1]:
import pandas as pd 
import cx_Oracle
import sys
import os

%pylab inline
%load_ext sql

Populating the interactive namespace from numpy and matplotlib

In [2]:
sys.path.append(os.path.abspath('../../.'))
from dbconnect import utilisateur,connexion,password

print('utilisateur :',utilisateur)
print('connexion   :',connexion)
print('password    :',password)

In [3]:
# On Linux this must be None.
# Instead, the Oracle environment must be set before Python starts.
instant_client_dir = None

if sys.platform.startswith("win"):
    instant_client_dir = r"C:\instantclient_21_3"

# On macOS (Intel x86) set the directory to your Instant Client directory
if sys.platform.startswith("darwin"):
    instant_client_dir = os.environ.get("HOME")+"/instantclient_19_8"

# This can be called at most once per process.
if instant_client_dir is not None:
    cx_Oracle.init_oracle_client(lib_dir=instant_client_dir)

utilisateur = os.environ.get("PYTHON_USER", utilisateur)

connexion = os.environ.get("PYTHON_CONNECT_STRING", connexion)

password = os.environ.get("PYTHON_PASSWORD", password)

# Connexion

In [4]:
connection = cx_Oracle.connect(utilisateur, password, connexion)

In [5]:
print(f"Version base de données : {connection.version}\n"+
      f"Utilisateur             : {connection.username}\n"+
      f"Page de code            : {connection.encoding}\n"+
      f"Chaine de connexion     : {connection.dsn}")

Version base de données : 18.0.0.0.0
Utilisateur             : stag01
Page de code            : UTF-8
Chaine de connexion     : 51.91.76.248:15440/coursdb

# Interrogation

In [6]:
query = """
SELECT
    *   
FROM
    categories
"""
donnees = pd.read_sql_query(query, connection)
donnees

,CODE_CATEGORIE,NOM_CATEGORIE,DESCRIPTION
0,1,Boissons,"Boissons, cafés, thés, bières"
1,2,Condiments,"Sauces, assaisonnements et épices"
2,3,Desserts,Desserts et friandises
3,4,Produits laitiers,Fromages
4,5,Pâtes et céréales,"Pains, biscuits, pâtes et céréales"
5,6,Viandes,Viandes préparées
6,7,Produits secs,"Fruits secs, raisins, autres"
7,8,Poissons et fruits de mer,"Poissons, fruits de mer, escargots"
8,9,Conserves,"Fruits, légumes en conserve et confitures"
9,10,Viande en conserve,Viande en conserve
10,666,AAA,abcd
11,100000,Fruits et legumes,pas de description

In [7]:
%sql oracle+cx_oracle://$utilisateur:$password@$connexion

'Connected: stag01@coursdb'

In [8]:
%%sql 
select * 
from categories

 * oracle+cx_oracle://stag01:***@51.91.76.248:15440/coursdb
0 rows affected.

[(1, 'Boissons', 'Boissons, cafés, thés, bières'),
 (2, 'Condiments', 'Sauces, assaisonnements et épices'),
 (3, 'Desserts', 'Desserts et friandises'),
 (4, 'Produits laitiers', 'Fromages'),
 (5, 'Pâtes et céréales', 'Pains, biscuits, pâtes et céréales'),
 (6, 'Viandes', 'Viandes préparées'),
 (7, 'Produits secs', 'Fruits secs, raisins, autres'),
 (8, 'Poissons et fruits de mer', 'Poissons, fruits de mer, escargots'),
 (9, 'Conserves', 'Fruits, légumes en conserve et confitures'),
 (10, 'Viande en conserve', 'Viande en conserve'),
 (666, 'AAA', 'abcd'),
 (100000, 'Fruits et legumes', 'pas de description')]