<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Les-imports-et-initialisations-des-variables" data-toc-modified-id="Les-imports-et-initialisations-des-variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Les imports et initialisations des variables</a></span></li><li><span><a href="#Les-fonctions-analytiques" data-toc-modified-id="Les-fonctions-analytiques-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Les fonctions analytiques</a></span><ul class="toc-item"><li><span><a href="#La-clause-partition-by" data-toc-modified-id="La-clause-partition-by-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>La clause partition by</a></span></li><li><span><a href="#La-clause-order-by" data-toc-modified-id="La-clause-order-by-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>La clause order by</a></span></li><li><span><a href="#Le-palmarès" data-toc-modified-id="Le-palmarès-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Le palmarès</a></span></li><li><span><a href="#Le-palmarès-(dense_rank)" data-toc-modified-id="Le-palmarès-(dense_rank)-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Le palmarès (dense_rank)</a></span></li><li><span><a href="#La-clause-de-fenêtrage" data-toc-modified-id="La-clause-de-fenêtrage-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>La clause de fenêtrage</a></span></li></ul></li></ul></div>

# Les imports et initialisations des variables

In [1]:
import pandas as pd 
import seaborn as sns
import warnings 
import os
import sqlalchemy
import pickle
import re
import unicodedata

from datetime import datetime
warnings.filterwarnings(action="ignore")

%pylab inline
%load_ext sql

plt.style.use('seaborn-darkgrid')
sns.set(font_scale=3)
#   stag01   stagbi01
engine = sqlalchemy.create_engine("oracle+cx_oracle://stag26:Phoenix#Icar79@51.91.76.248:15440/coursdb")
connection = engine.connect()

Populating the interactive namespace from numpy and matplotlib

In [2]:
%sql oracle+cx_oracle://stag26:Phoenix#Icar79@51.91.76.248:15440/coursdb

# Les fonctions analytiques

In [3]:
%sql select annee, trimestre, \
            sum(port) as port , \
            sum(sum(port)) over (partition by annee) st_a ,\
            sum(sum(port)) over (partition by trimestre) st_t ,\
            sum(sum(port)) over () st_p \
     from commandes \
     group by  annee, trimestre \
     order  by  annee, trimestre

 * oracle+cx_oracle://stag26:***@51.91.76.248:15440/coursdb
0 rows affected.

[(2010, 1, Decimal('145808.3'), Decimal('596312.7'), Decimal('351366.7'), Decimal('1007453.5')),
 (2010, 2, Decimal('147223.4'), Decimal('596312.7'), Decimal('352805.8'), Decimal('1007453.5')),
 (2010, 3, Decimal('150755.8'), Decimal('596312.7'), Decimal('150755.8'), Decimal('1007453.5')),
 (2010, 4, Decimal('152525.2'), Decimal('596312.7'), Decimal('152525.2'), Decimal('1007453.5')),
 (2011, 1, Decimal('205558.4'), Decimal('411140.8'), Decimal('351366.7'), Decimal('1007453.5')),
 (2011, 2, Decimal('205582.4'), Decimal('411140.8'), Decimal('352805.8'), Decimal('1007453.5'))]

In [4]:
query = "select * from commandes"
df = pd.read_sql_query(query, connection) #df.to_sql('nom', con=engine,if_exists='replace')
df

,no_commande,code_client,no_employe,date_commande,date_envoi,port,livree,acquitee,annulee,annee,trimestre,mois
0,215414,CACTU,90,2010-01-21,2010-03-05,96.0,1,1,0,2010,1,1
1,215427,LONEP,79,2010-01-21,2010-02-08,55.8,1,1,0,2010,1,1
2,215420,EASTC,62,2010-01-21,2010-03-06,64.8,1,1,0,2010,1,1
3,215416,GREAL,84,2010-01-21,2010-02-15,57.6,1,1,0,2010,1,1
4,215422,WARTH,54,2010-01-21,2010-02-18,63.9,1,1,0,2010,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
13457,228383,GODOS,3,2011-06-28,2011-08-10,92.7,1,1,0,2011,2,6
13458,228373,WANDK,4,2011-06-28,2011-07-25,69.5,1,1,0,2011,2,6
13459,228360,FURIB,16,2011-06-28,2011-07-10,97.0,1,1,0,2011,2,6
13460,228363,QUICK,85,2011-06-28,2011-08-08,74.3,1,1,0,2011,2,6
13461,228359,LAZYK,79,2011-06-28,2011-07-29,83.0,1,1,0,2011,2,6

In [5]:
df.columns

Index(['no_commande', 'code_client', 'no_employe', 'date_commande',
       'date_envoi', 'port', 'livree', 'acquitee', 'annulee', 'annee',
       'trimestre', 'mois'],
      dtype='object')

In [6]:
df1 = df.groupby(['annee','trimestre']).agg({'port':'sum'})

In [7]:
df1.head()

                     port
annee trimestre
2010  1          145808.3
      2          147223.4
      3          150755.8
      4          152525.2
2011  1          205558.4

In [8]:
df.head()

,no_commande,code_client,no_employe,date_commande,date_envoi,port,livree,acquitee,annulee,annee,trimestre,mois
0,215414,CACTU,90,2010-01-21,2010-03-05,96.0,1,1,0,2010,1,1
1,215427,LONEP,79,2010-01-21,2010-02-08,55.8,1,1,0,2010,1,1
2,215420,EASTC,62,2010-01-21,2010-03-06,64.8,1,1,0,2010,1,1
3,215416,GREAL,84,2010-01-21,2010-02-15,57.6,1,1,0,2010,1,1
4,215422,WARTH,54,2010-01-21,2010-02-18,63.9,1,1,0,2010,1,1

In [9]:
df['st_a'] = df.groupby('annee').port.transform('sum')

In [10]:
df.head()

,no_commande,code_client,no_employe,date_commande,date_envoi,port,livree,acquitee,annulee,annee,trimestre,mois,st_a
0,215414,CACTU,90,2010-01-21,2010-03-05,96.0,1,1,0,2010,1,1,596312.7
1,215427,LONEP,79,2010-01-21,2010-02-08,55.8,1,1,0,2010,1,1,596312.7
2,215420,EASTC,62,2010-01-21,2010-03-06,64.8,1,1,0,2010,1,1,596312.7
3,215416,GREAL,84,2010-01-21,2010-02-15,57.6,1,1,0,2010,1,1,596312.7
4,215422,WARTH,54,2010-01-21,2010-02-18,63.9,1,1,0,2010,1,1,596312.7

In [11]:
df1['st_a'] = df1.groupby('annee').port.transform('sum')
df1['st_t'] = df1.groupby('trimestre').port.transform('sum')
df1['st_p'] = df1.port.sum()

In [12]:
df1

                     port      st_a      st_t       st_p
annee trimestre
2010  1          145808.3  596312.7  351366.7  1007453.5
      2          147223.4  596312.7  352805.8  1007453.5
      3          150755.8  596312.7  150755.8  1007453.5
      4          152525.2  596312.7  152525.2  1007453.5
2011  1          205558.4  411140.8  351366.7  1007453.5
      2          205582.4  411140.8  352805.8  1007453.5

## La clause partition by

In [13]:
query = """
SELECT
    co.annee, 
    co.mois,
    cl.pays,
    cl.ville,
    ca.nom_categorie,
    pr.nom_produit,
    sum(dc.prix_unitaire*dc.quantite) ca,
    sum(dc.quantite) quantite,
    sum(dc.remise) remise
FROM
    clients cl
    JOIN commandes co ON cl.code_client = co.code_client
    JOIN details_commandes dc ON co.no_commande = dc.no_commande
    JOIN produits pr ON dc.ref_produit = pr.ref_produit
    JOIN categories ca ON ca.code_categorie = pr.code_categorie
group by co.annee, 
    co.mois,
    ca.nom_categorie,
    pr.nom_produit,
    cl.pays,
    cl.ville
"""
donnees = pd.read_sql_query(query, connection) #df.to_sql('nom', con=engine,if_exists='replace')
donnees

,annee,mois,pays,ville,nom_categorie,nom_produit,ca,quantite,remise
0,2010,3,Royaume-Uni,London,Boissons,Sasquatch Ale,80241.12,2164,85.94
1,2010,1,Allemagne,Berlin,Viandes,Perth Pasties,43991.04,512,45.33
2,2010,3,France,Versailles,Produits laitiers,Queso Cabrales,13572.00,174,29.24
3,2010,1,Mexique,México D.F.,Viandes,Thüringer Rostbratwurst,71589.12,824,80.32
4,2010,3,Finlande,Helsinki,Produits laitiers,Queso Cabrales,37050.00,475,38.38
...,...,...,...,...,...,...,...,...,...
129732,2011,6,Autriche,Graz,Condiments,Grandma's Boysenberry Spread,18165.60,261,16.15
129733,2011,4,Venezuela,I. de Margarita,Produits secs,Tofu,11730.00,250,10.02
129734,2010,9,Allemagne,Stuttgart,Condiments,Chicken Soup,27952.20,293,32.03
129735,2010,11,Suède,Luleå,Poissons et fruits de mer,Boston Crab Meat,18335.52,428,27.31
129736,2010,9,Portugal,Lisboa,Produits laitiers,Queso Manchego La Pastora,31492.80,405,35.85

In [14]:
donnees.columns

Index(['annee', 'mois', 'pays', 'ville', 'nom_categorie', 'nom_produit', 'ca',
       'quantite', 'remise'],
      dtype='object')

In [15]:
donnees['CA_a'] = donnees.groupby(['annee']).ca.transform('sum')
donnees['CA_am'] = donnees.groupby(['annee','mois']).ca.transform('sum')
donnees['CA_ap'] = donnees.groupby(['annee','pays']).ca.transform('sum')
donnees['CA_ac'] = donnees.groupby(['annee','nom_categorie']).ca.transform('sum')
donnees['CA_apc'] = donnees.groupby(['annee','pays','nom_categorie']).ca.transform('sum')

In [16]:
donnees.sort_values(['annee','mois','pays','nom_categorie']).head(20)

,annee,mois,pays,ville,nom_categorie,nom_produit,ca,quantite,remise,CA_a,CA_am,CA_ap,CA_ac,CA_apc
22,2010,1,Allemagne,Brandenburg,Boissons,Steeleye Stout,17895.12,431,18.13,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
2392,2010,1,Allemagne,Berlin,Boissons,Côte de Blaye,14282.40,220,14.71,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
2938,2010,1,Allemagne,Köln,Boissons,Green Tea,11800.20,277,16.07,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
3928,2010,1,Allemagne,Aachen,Boissons,Sasquatch Ale,12755.52,344,20.14,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
5487,2010,1,Allemagne,Brandenburg,Boissons,Beer,41421.60,660,50.02,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
7365,2010,1,Allemagne,München,Boissons,Rhönbräu Klosterbier,5989.68,141,9.58,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
9283,2010,1,Allemagne,Berlin,Boissons,Chartreuse verte,41472.00,540,37.41,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
10993,2010,1,Allemagne,Brandenburg,Boissons,Sasquatch Ale,7341.84,198,7.58,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
10995,2010,1,Allemagne,München,Boissons,Green Tea,1107.60,26,7.06,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
14619,2010,1,Allemagne,Brandenburg,Boissons,Chai,12124.20,167,25.32,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
16132,2010,1,Allemagne,Berlin,Boissons,Guaraná Fantástica,49266.84,623,48.67,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
18096,2010,1,Allemagne,Mannheim,Boissons,Outback Lager,18960.72,397,17.49,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
18302,2010,1,Allemagne,Cunewalde,Boissons,Sasquatch Ale,6711.48,181,4.08,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
18391,2010,1,Allemagne,Frankfurt a.M.,Boissons,Guaraná Fantástica,9805.92,124,6.94,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
18505,2010,1,Allemagne,Mannheim,Boissons,Green Tea,15421.20,362,16.40,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
18541,2010,1,Allemagne,Brandenburg,Boissons,Chang,16164.72,314,17.05,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
19053,2010,1,Allemagne,München,Boissons,Sasquatch Ale,6748.56,182,9.76,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
19075,2010,1,Allemagne,Mannheim,Boissons,Ipoh Coffee,35681.28,404,29.93,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
19662,2010,1,Allemagne,Aachen,Boissons,Laughing Lumberjack Lager,20404.80,260,19.86,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72
21152,2010,1,Allemagne,Frankfurt a.M.,Boissons,Beer,6464.28,103,9.25,2.019972e+09,1.698266e+08,2.487414e+08,2.477558e+08,29993409.72

## La clause order by

In [17]:
donnees01 = donnees.groupby(['annee','mois','pays','nom_categorie']).agg({'ca':'sum'})

In [18]:
donnees01['CA_ca']   = donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).groupby(['annee']).ca.transform('cumsum')
donnees01['CA_cam']  = donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).groupby(['annee','mois']).ca.transform('cumsum')
donnees01['CA_cap']  = donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).groupby(['annee','pays']).ca.transform('cumsum')
donnees01['CA_cac']  = donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).groupby(['annee','nom_categorie']).ca.transform('cumsum')
donnees01['CA_capc'] = donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).groupby(['annee','pays','nom_categorie']).ca.transform('cumsum')

In [19]:
donnees01.sort_values(['annee','mois','pays','nom_categorie','ca']).head(50)

                                                        ca        CA_ca  \
annee mois pays      nom_categorie
2010  1    Allemagne Boissons                   2642636.64   2642636.64
                     Condiments                 3617964.12   6260600.76
                     Conserves                  1931868.24   8192469.00
                     Desserts                   3324335.04  11516804.04
                     Poissons et fruits de mer  2616678.36  14133482.40
                     Produits laitiers          2254765.92  16388248.32
                     Produits secs              2061498.72  18449747.04
                     Pâtes et céréales          2050805.04  20500552.08
                     Viande en conserve          632281.80  21132833.88
                     Viandes                    1250506.80  22383340.68
           Argentine Boissons                    741121.92  23124462.60
                     Condiments                 1053438.84  24177901.44
                     Conserves                   562075.68  24739977.12
                     Desserts                    890835.72  25630812.84
                     Poissons et fruits de mer   672242.04  26303054.88
                     Produits laitiers           630332.04  26933386.92
                     Produits secs               523443.00  27456829.92
                     Pâtes et céréales           563221.56  28020051.48
                     Viande en conserve          168303.00  28188354.48
                     Viandes                     414319.68  28602674.16
           Autriche  Boissons                    491018.88  29093693.04
                     Condiments                  752941.68  29846634.72
                     Conserves                   377474.76  30224109.48
                     Desserts                    649983.48  30874092.96
                     Poissons et fruits de mer   430670.64  31304763.60
                     Produits laitiers           366831.12  31671594.72
                     Produits secs               354184.56  32025779.28
                     Pâtes et céréales           375237.24  32401016.52
                     Viande en conserve          117671.52  32518688.04
                     Viandes                     295974.00  32814662.04
           Belgique  Boissons                    444213.12  33258875.16
                     Condiments                  601451.28  33860326.44
                     Conserves                   319950.24  34180276.68
                     Desserts                    606380.64  34786657.32
                     Poissons et fruits de mer   484909.92  35271567.24
                     Produits laitiers           366163.68  35637730.92
                     Produits secs               303156.24  35940887.16
                     Pâtes et céréales           305057.16  36245944.32
                     Viande en conserve          116639.52  36362583.84
                     Viandes                     257715.60  36620299.44
           Brésil    Boissons                   2595692.76  39215992.20
                     Condiments                 3258263.28  42474255.48
                     Conserves                  1661203.68  44135459.16
                     Desserts                   2663720.88  46799180.04
                     Poissons et fruits de mer  2151799.44  48950979.48
                     Produits laitiers          1976319.72  50927299.20
                     Produits secs              1748397.36  52675696.56
                     Pâtes et céréales          1730487.96  54406184.52
                     Viande en conserve          575389.92  54981574.44
                     Viandes                    1065018.72  56046593.16

                                                     CA_cam       CA_cap  \
annee mois pays      nom_categorie
2010  1    Allemagne Boissons                    2642636.64   2642636.64
                     Condiments                  6260600.76   6260600.76
                     Conserves                   8192469.00   8192469.00
                     Desserts                   11516804.04  11516804.04
                     Poissons et fruits de mer  14133482.40  14133482.40
                     Produits laitiers          16388248.32  16388248.32
                     Produits secs              18449747.04  18449747.04
                     Pâtes et céréales          20500552.08  20500552.08
                     Viande en conserve         21132833.88  21132833.88
                     Viandes                    22383340.68  22383340.68
           Argentine Boissons                   23124462.60    741121.92
                     Condiments                 24177901.44   1794560.76
                     Conserves                  24739977.12   2356636.44
                     Desserts                   25630812.84   3247472.16
                     Poissons et fruits de mer  26303054.88   3919714.20
                     Produits laitiers          26933386.92   4550046.24
                     Produits secs              27456829.92   5073489.24
                     Pâtes et céréales          28020051.48   5636710.80
                     Viande en conserve         28188354.48   5805013.80
                     Viandes                    28602674.16   6219333.48
           Autriche  Boissons                   29093693.04    491018.88
                     Condiments                 29846634.72   1243960.56
                     Conserves                  30224109.48   1621435.32
                     Desserts                   30874092.96   2271418.80
                     Poissons et fruits de mer  31304763.60   2702089.44
                     Produits laitiers          31671594.72   3068920.56
                     Produits secs              32025779.28   3423105.12
                     Pâtes et céréales          32401016.52   3798342.36
                     Viande en conserve         32518688.04   3916013.88
                     Viandes                    32814662.04   4211987.88
           Belgique  Boissons                   33258875.16    444213.12
                     Condiments                 33860326.44   1045664.40
                     Conserves                  34180276.68   1365614.64
                     Desserts                   34786657.32   1971995.28
                     Poissons et fruits de mer  35271567.24   2456905.20
                     Produits laitiers          35637730.92   2823068.88
                     Produits secs              35940887.16   3126225.12
                     Pâtes et céréales          36245944.32   3431282.28
                     Viande en conserve         36362583.84   3547921.80
                     Viandes                    36620299.44   3805637.40
           Brésil    Boissons                   39215992.20   2595692.76
                     Condiments                 42474255.48   5853956.04
                     Conserves                  44135459.16   7515159.72
                     Desserts                   46799180.04  10178880.60
                     Poissons et fruits de mer  48950979.48  12330680.04
                     Produits laitiers          50927299.20  14306999.76
                     Produits secs              52675696.56  16055397.12
                     Pâtes et céréales          54406184.52  17785885.08
                     Viande en conserve         54981574.44  18361275.00
                     Viandes                    56046593.16  19426293.72

                                                    CA_cac     CA_capc
annee mois pays      nom_categorie
2010  1    Allemagne Boissons                   2642636.64  2642636.64
                     Condiments                 3617964.12  3617964.12
                     Conserves                  1931868.24  1931868.24
                     Desserts                   3324335.04  3324335.04
                     Poissons et fruits de mer  2616678.36  2616678.36
                     Produits laitiers          2254765.92  2254765.92
                     Produits secs              2061498.72  2061498.72
                     Pâtes et céréales          2050805.04  2050805.04
                     Viande en conserve          632281.80   632281.80
                     Viandes                    1250506.80  1250506.80
           Argentine Boissons                   3383758.56   741121.92
                     Condiments                 4671402.96  1053438.84
                     Conserves                  2493943.92   562075.68
                     Desserts                   4215170.76   890835.72
                     Poissons et fruits de mer  3288920.40   672242.04
                     Produits laitiers          2885097.96   630332.04
                     Produits secs              2584941.72   523443.00
                     Pâtes et céréales          2614026.60   563221.56
                     Viande en conserve          800584.80   168303.00
                     Viandes                    1664826.48   414319.68
           Autriche  Boissons                   3874777.44   491018.88
                     Condiments                 5424344.64   752941.68
                     Conserves                  2871418.68   377474.76
                     Desserts                   4865154.24   649983.48
                     Poissons et fruits de mer  3719591.04   430670.64
                     Produits laitiers          3251929.08   366831.12
                     Produits secs              2939126.28   354184.56
                     Pâtes et céréales          2989263.84   375237.24
                     Viande en conserve          918256.32   117671.52
                     Viandes                    1960800.48   295974.00
           Belgique  Boissons                   4318990.56   444213.12
                     Condiments                 6025795.92   601451.28
                     Conserves                  3191368.92   319950.24
                     Desserts                   5471534.88   606380.64
                     Poissons et fruits de mer  4204500.96   484909.92
                     Produits laitiers          3618092.76   366163.68
                     Produits secs              3242282.52   303156.24
                     Pâtes et céréales          3294321.00   305057.16
                     Viande en conserve         1034895.84   116639.52
                     Viandes                    2218516.08   257715.60
           Brésil    Boissons                   6914683.32  2595692.76
                     Condiments                 9284059.20  3258263.28
                     Conserves                  4852572.60  1661203.68
                     Desserts                   8135255.76  2663720.88
                     Poissons et fruits de mer  6356300.40  2151799.44
                     Produits laitiers          5594412.48  1976319.72
                     Produits secs              4990679.88  1748397.36
                     Pâtes et céréales          5024808.96  1730487.96
                     Viande en conserve         1610285.76   575389.92
                     Viandes                    3283534.80  1065018.72

## Le palmarès

In [20]:
donnees01 = donnees.groupby(['annee','mois']).agg({'ca':'sum'})

In [21]:
donnees01.head()

                      ca
annee mois
2010  1     1.698266e+08
      2     1.585268e+08
      3     1.677318e+08
      4     1.577834e+08
      5     1.743042e+08

In [22]:
donnees01['CA_a']        = donnees01.groupby(['annee']).ca.transform('sum')
donnees01['palmares_A']  = donnees01.groupby(['annee']).ca.rank(method='dense')
donnees01['palmares']    = donnees01.ca.rank(method='dense')

In [23]:
donnees01.head()

                      ca          CA_a  palmares_A  palmares
annee mois
2010  1     1.698266e+08  2.019972e+09         9.0       9.0
      2     1.585268e+08  2.019972e+09         2.0       2.0
      3     1.677318e+08  2.019972e+09         6.0       6.0
      4     1.577834e+08  2.019972e+09         1.0       1.0
      5     1.743042e+08  2.019972e+09        10.0      10.0

In [24]:
donnees01.sort_values(['annee','palmares_A']).head(10)

                      ca          CA_a  palmares_A  palmares
annee mois
2010  4     1.577834e+08  2.019972e+09         1.0       1.0
      2     1.585268e+08  2.019972e+09         2.0       2.0
      12    1.610779e+08  2.019972e+09         3.0       3.0
      9     1.632477e+08  2.019972e+09         4.0       4.0
      6     1.667864e+08  2.019972e+09         5.0       5.0
      3     1.677318e+08  2.019972e+09         6.0       6.0
      7     1.680823e+08  2.019972e+09         7.0       7.0
      11    1.691208e+08  2.019972e+09         8.0       8.0
      1     1.698266e+08  2.019972e+09         9.0       9.0
      5     1.743042e+08  2.019972e+09        10.0      10.0

In [25]:
donnees01.sort_values(['palmares_A']).head(10)

                      ca          CA_a  palmares_A  palmares
annee mois
2010  4     1.577834e+08  2.019972e+09         1.0       1.0
2011  2     2.232297e+08  1.403112e+09         1.0      13.0
2010  2     1.585268e+08  2.019972e+09         2.0       2.0
2011  1     2.277994e+08  1.403112e+09         2.0      14.0
2010  12    1.610779e+08  2.019972e+09         3.0       3.0
2011  5     2.323965e+08  1.403112e+09         3.0      15.0
2010  9     1.632477e+08  2.019972e+09         4.0       4.0
2011  4     2.342829e+08  1.403112e+09         4.0      16.0
      6     2.353985e+08  1.403112e+09         5.0      17.0
2010  6     1.667864e+08  2.019972e+09         5.0       5.0

In [26]:
donnees01.sort_values(['palmares']).head(20)

                      ca          CA_a  palmares_A  palmares
annee mois
2010  4     1.577834e+08  2.019972e+09         1.0       1.0
      2     1.585268e+08  2.019972e+09         2.0       2.0
      12    1.610779e+08  2.019972e+09         3.0       3.0
      9     1.632477e+08  2.019972e+09         4.0       4.0
      6     1.667864e+08  2.019972e+09         5.0       5.0
      3     1.677318e+08  2.019972e+09         6.0       6.0
      7     1.680823e+08  2.019972e+09         7.0       7.0
      11    1.691208e+08  2.019972e+09         8.0       8.0
      1     1.698266e+08  2.019972e+09         9.0       9.0
      5     1.743042e+08  2.019972e+09        10.0      10.0
      8     1.787103e+08  2.019972e+09        11.0      11.0
      10    1.847737e+08  2.019972e+09        12.0      12.0
2011  2     2.232297e+08  1.403112e+09         1.0      13.0
      1     2.277994e+08  1.403112e+09         2.0      14.0
      5     2.323965e+08  1.403112e+09         3.0      15.0
      4     2.342829e+08  1.403112e+09         4.0      16.0
      6     2.353985e+08  1.403112e+09         5.0      17.0
      3     2.500055e+08  1.403112e+09         6.0      18.0

In [27]:
donnees01 = donnees.groupby(['pays','annee','mois']).agg({'ca':'sum'})
donnees01.head(20)

                               ca
pays      annee mois
Allemagne 2010  1     22383340.68
                2     21963564.60
                3     23859200.64
                4     21012939.60
                5     18547276.32
                6     26802841.08
                7     18782772.24
                8     20523201.96
                9     19525210.68
                10    16938443.52
                11    18837524.16
                12    19565105.88
          2011  1     27007487.76
                2     31755707.88
                3     28406424.36
                4     31040810.40
                5     24789894.72
                6     28322082.96
Argentine 2010  1      6219333.48
                2      4946606.88

In [28]:
donnees01['CA_a']         = donnees01.groupby(['annee']).ca.transform('sum')
donnees01['palmares_A']  = donnees01.groupby(['annee']).ca.rank(method='dense')
donnees01['CA_p']         = donnees01.groupby(['pays']).ca.transform('sum')
donnees01['palmares_P']  = donnees01.groupby(['pays']).ca.rank(method='dense')
donnees01['palmares']  = donnees01.ca.rank(method='dense')

In [29]:
donnees01.sort_values(['annee','palmares_A']).head(10)

                            ca          CA_a  palmares_A         CA_p  \
pays    annee mois
Pologne 2010  1      185883.36  2.019972e+09         1.0  27404181.24
              5      299586.36  2.019972e+09         2.0  27404181.24
Norvège 2010  6      566120.88  2.019972e+09         3.0  35484254.04
              9      614154.12  2.019972e+09         4.0  35484254.04
              3      818695.80  2.019972e+09         5.0  35484254.04
Pologne 2010  11     819540.48  2.019972e+09         6.0  27404181.24
Suède   2010  4      831692.28  2.019972e+09         7.0  79723558.68
Pologne 2010  9      831858.96  2.019972e+09         8.0  27404181.24
Irlande 2010  9      858654.12  2.019972e+09         9.0  41055246.48
              3     1032242.04  2.019972e+09        10.0  41055246.48

                    palmares_P  palmares
pays    annee mois
Pologne 2010  1            1.0       1.0
              5            2.0       2.0
Norvège 2010  6            1.0       3.0
              9            2.0       4.0
              3            3.0       6.0
Pologne 2010  11           3.0       7.0
Suède   2010  4            2.0       8.0
Pologne 2010  9            4.0       9.0
Irlande 2010  9            1.0      10.0
              3            2.0      13.0

In [30]:
donnees01.sort_values(['palmares_A']).head(10)

                             ca          CA_a  palmares_A         CA_p  \
pays     annee mois
Suède    2011  5      795113.16  1.403112e+09         1.0  79723558.68
Pologne  2010  1      185883.36  2.019972e+09         1.0  27404181.24
               5      299586.36  2.019972e+09         2.0  27404181.24
Autriche 2011  2      868752.48  1.403112e+09         2.0  66663791.64
Pologne  2011  2     1017919.80  1.403112e+09         3.0  27404181.24
Norvège  2010  6      566120.88  2.019972e+09         3.0  35484254.04
Pologne  2011  5     1041958.32  1.403112e+09         4.0  27404181.24
Norvège  2010  9      614154.12  2.019972e+09         4.0  35484254.04
Pologne  2011  4     1236022.08  1.403112e+09         5.0  27404181.24
Norvège  2010  3      818695.80  2.019972e+09         5.0  35484254.04

                     palmares_P  palmares
pays     annee mois
Suède    2011  5            1.0       5.0
Pologne  2010  1            1.0       1.0
               5            2.0       2.0
Autriche 2011  2            1.0      11.0
Pologne  2011  2            5.0      12.0
Norvège  2010  6            1.0       3.0
Pologne  2011  5            6.0      14.0
Norvège  2010  9            2.0       4.0
Pologne  2011  4            8.0      17.0
Norvège  2010  3            3.0       6.0

In [31]:
donnees01.sort_values(['pays','palmares_P']).head(10)

                               ca          CA_a  palmares_A          CA_p  \
pays      annee mois
Allemagne 2010  10    16938443.52  2.019972e+09       211.0  4.200638e+08
                5     18547276.32  2.019972e+09       218.0  4.200638e+08
                7     18782772.24  2.019972e+09       219.0  4.200638e+08
                11    18837524.16  2.019972e+09       220.0  4.200638e+08
                9     19525210.68  2.019972e+09       224.0  4.200638e+08
                12    19565105.88  2.019972e+09       225.0  4.200638e+08
                8     20523201.96  2.019972e+09       227.0  4.200638e+08
                4     21012939.60  2.019972e+09       229.0  4.200638e+08
                2     21963564.60  2.019972e+09       231.0  4.200638e+08
                1     22383340.68  2.019972e+09       234.0  4.200638e+08

                      palmares_P  palmares
pays      annee mois
Allemagne 2010  10           1.0     308.0
                5            2.0     318.0
                7            3.0     319.0
                11           4.0     321.0
                9            5.0     325.0
                12           6.0     326.0
                8            7.0     331.0
                4            8.0     333.0
                2            9.0     336.0
                1           10.0     339.0

In [32]:
donnees01.sort_values(['palmares_P']).head(25)

,,,ca,CA_a,palmares_A,CA_p,palmares_P,palmares
pays,annee,mois,,,,,,
Mexique,2010,10,6741209.16,2.019972e+09,154.0,1.868043e+08,1.0,212.0
France,2010,12,12332876.64,2.019972e+09,194.0,4.218860e+08,1.0,283.0
Argentine,2010,10,4547749.56,2.019972e+09,110.0,1.122134e+08,1.0,144.0
Venezuela,2010,7,3972440.52,2.019972e+09,95.0,1.428434e+08,1.0,122.0
Pologne,2010,1,185883.36,2.019972e+09,1.0,2.740418e+07,1.0,1.0
Italie,2010,10,3088892.88,2.019972e+09,60.0,1.011821e+08,1.0,81.0
Espagne,2010,10,5898365.40,2.019972e+09,141.0,1.924166e+08,1.0,192.0
Suède,2011,5,795113.16,1.403112e+09,1.0,7.972356e+07,1.0,5.0
Autriche,2011,2,868752.48,1.403112e+09,2.0,6.666379e+07,1.0,11.0
Belgique,2010,4,2334748.92,2.019972e+09,41.0,8.449017e+07,1.0,52.0
Irlande,2010,9,858654.12,2.019972e+09,9.0,4.105525e+07,1.0,10.0
Danemark,2010,9,1871334.60,2.019972e+09,30.0,7.492335e+07,1.0,37.0
Brésil,2010,2,9679114.56,2.019972e+09,182.0,3.237671e+08,1.0,259.0
Portugal,2010,11,1377402.00,2.019972e+09,15.0,7.349208e+07,1.0,20.0
Suisse,2010,3,1756518.84,2.019972e+09,25.0,7.487792e+07,1.0,32.0
Canada,2010,11,1565783.28,2.019972e+09,20.0,1.122988e+08,1.0,25.0
États-Unis,2010,1,17449320.12,2.019972e+09,214.0,4.901651e+08,1.0,312.0
Finlande,2010,12,2507355.72,2.019972e+09,46.0,7.608094e+07,1.0,61.0
Royaume-Uni,2010,6,10282542.48,2.019972e+09,184.0,2.852483e+08,1.0,264.0
Norvège,2010,6,566120.88,2.019972e+09,3.0,3.548425e+07,1.0,3.0
Allemagne,2010,10,16938443.52,2.019972e+09,211.0,4.200638e+08,1.0,308.0
États-Unis,2010,4,20196906.96,2.019972e+09,226.0,4.901651e+08,2.0,329.0
Espagne,2010,7,7798745.16,2.019972e+09,163.0,1.924166e+08,2.0,226.0
Canada,2010,3,3550792.68,2.019972e+09,77.0,1.122988e+08,2.0,102.0
France,2010,2,17382533.88,2.019972e+09,213.0,4.218860e+08,2.0,310.0

In [33]:
donnees01.sort_values(['palmares']).head(25)

                             ca          CA_a  palmares_A          CA_p  \
pays     annee mois
Pologne  2010  1      185883.36  2.019972e+09         1.0  2.740418e+07
               5      299586.36  2.019972e+09         2.0  2.740418e+07
Norvège  2010  6      566120.88  2.019972e+09         3.0  3.548425e+07
               9      614154.12  2.019972e+09         4.0  3.548425e+07
Suède    2011  5      795113.16  1.403112e+09         1.0  7.972356e+07
Norvège  2010  3      818695.80  2.019972e+09         5.0  3.548425e+07
Pologne  2010  11     819540.48  2.019972e+09         6.0  2.740418e+07
Suède    2010  4      831692.28  2.019972e+09         7.0  7.972356e+07
Pologne  2010  9      831858.96  2.019972e+09         8.0  2.740418e+07
Irlande  2010  9      858654.12  2.019972e+09         9.0  4.105525e+07
Autriche 2011  2      868752.48  1.403112e+09         2.0  6.666379e+07
Pologne  2011  2     1017919.80  1.403112e+09         3.0  2.740418e+07
Irlande  2010  3     1032242.04  2.019972e+09        10.0  4.105525e+07
Pologne  2011  5     1041958.32  1.403112e+09         4.0  2.740418e+07
         2010  6     1189442.64  2.019972e+09        11.0  2.740418e+07
Norvège  2010  2     1215653.88  2.019972e+09        12.0  3.548425e+07
Pologne  2011  4     1236022.08  1.403112e+09         5.0  2.740418e+07
Norvège  2010  12    1242986.16  2.019972e+09        13.0  3.548425e+07
Pologne  2010  4     1248321.72  2.019972e+09        14.0  2.740418e+07
Portugal 2010  11    1377402.00  2.019972e+09        15.0  7.349208e+07
Pologne  2010  2     1472383.68  2.019972e+09        16.0  2.740418e+07
Irlande  2010  6     1530183.84  2.019972e+09        17.0  4.105525e+07
Norvège  2010  7     1542647.28  2.019972e+09        18.0  3.548425e+07
               11    1543995.24  2.019972e+09        19.0  3.548425e+07
Canada   2010  11    1565783.28  2.019972e+09        20.0  1.122988e+08

                     palmares_P  palmares
pays     annee mois
Pologne  2010  1            1.0       1.0
               5            2.0       2.0
Norvège  2010  6            1.0       3.0
               9            2.0       4.0
Suède    2011  5            1.0       5.0
Norvège  2010  3            3.0       6.0
Pologne  2010  11           3.0       7.0
Suède    2010  4            2.0       8.0
Pologne  2010  9            4.0       9.0
Irlande  2010  9            1.0      10.0
Autriche 2011  2            1.0      11.0
Pologne  2011  2            5.0      12.0
Irlande  2010  3            2.0      13.0
Pologne  2011  5            6.0      14.0
         2010  6            7.0      15.0
Norvège  2010  2            4.0      16.0
Pologne  2011  4            8.0      17.0
Norvège  2010  12           5.0      18.0
Pologne  2010  4            9.0      19.0
Portugal 2010  11           1.0      20.0
Pologne  2010  2           10.0      21.0
Irlande  2010  6            3.0      22.0
Norvège  2010  7            6.0      23.0
               11           7.0      24.0
Canada   2010  11           1.0      25.0

## Le palmarès (dense_rank)

In [34]:
query = """
SELECT
    NOM_PRODUIT, NO_FOURNISSEUR NF, UNITES_STOCK US
FROM PRODUITS 
WHERE CODE_CATEGORIE = 1
"""
donnees01 = pd.read_sql_query(query, connection) #df.to_sql('nom', con=engine,if_exists='replace')
donnees01

                  nom_produit  nf     us
0                        Chai   1   39.0
1                       Chang   1   17.0
2               Sasquatch Ale  16  111.0
3              Steeleye Stout  16   20.0
4            Chartreuse verte  18   69.0
5                 Ipoh Coffee  20   17.0
6   Laughing Lumberjack Lager  16   52.0
7               Outback Lager   7   15.0
8                Lakkalikööri  23   57.0
9          Guaraná Fantástica  10    NaN
10              Côte de Blaye  18   17.0
11       Rhönbräu Klosterbier  12  125.0
12                       Beer  18   60.0
13                     Coffee  16  100.0
14                  Green Tea  14  125.0
15                        Tea  14   50.0

In [35]:
donnees01['RN']  = donnees01.us.rank(method='first')
donnees01['DR']  = donnees01.us.rank(method='dense')
donnees01['AR']  = donnees01.us.rank()
donnees01['NT']  = (donnees01.us.rank(pct=True)*100).round()

In [36]:
donnees01.sort_values('us')

                  nom_produit  nf     us    RN    DR    AR    NT
7               Outback Lager   7   15.0   1.0   1.0   1.0   7.0
1                       Chang   1   17.0   2.0   2.0   3.0  20.0
5                 Ipoh Coffee  20   17.0   3.0   2.0   3.0  20.0
10              Côte de Blaye  18   17.0   4.0   2.0   3.0  20.0
3              Steeleye Stout  16   20.0   5.0   3.0   5.0  33.0
0                        Chai   1   39.0   6.0   4.0   6.0  40.0
15                        Tea  14   50.0   7.0   5.0   7.0  47.0
6   Laughing Lumberjack Lager  16   52.0   8.0   6.0   8.0  53.0
8                Lakkalikööri  23   57.0   9.0   7.0   9.0  60.0
12                       Beer  18   60.0  10.0   8.0  10.0  67.0
4            Chartreuse verte  18   69.0  11.0   9.0  11.0  73.0
13                     Coffee  16  100.0  12.0  10.0  12.0  80.0
2               Sasquatch Ale  16  111.0  13.0  11.0  13.0  87.0
11       Rhönbräu Klosterbier  12  125.0  14.0  12.0  14.5  97.0
14                  Green Tea  14  125.0  15.0  12.0  14.5  97.0
9          Guaraná Fantástica  10    NaN   NaN   NaN   NaN   NaN

## La clause de fenêtrage

In [37]:
donnees02 = donnees.groupby(['pays','annee','mois']).agg({'ca':'sum'})

In [38]:
donnees02.head()

                               ca
pays      annee mois
Allemagne 2010  1     22383340.68
                2     21963564.60
                3     23859200.64
                4     21012939.60
                5     18547276.32

In [39]:
donnees02['R3l'] = donnees02.ca.rolling(3).sum()
donnees02['R3lC'] = donnees02.ca.rolling(3,center=True).sum()
donnees02['E3l'] = donnees02.ca.expanding().sum()

In [40]:
donnees02.head(20)

                               ca          R3l         R3lC           E3l
pays      annee mois
Allemagne 2010  1     22383340.68          NaN          NaN  2.238334e+07
                2     21963564.60          NaN  68206105.92  4.434691e+07
                3     23859200.64  68206105.92  66835704.84  6.820611e+07
                4     21012939.60  66835704.84  63419416.56  8.921905e+07
                5     18547276.32  63419416.56  66363057.00  1.077663e+08
                6     26802841.08  66363057.00  64132889.64  1.345692e+08
                7     18782772.24  64132889.64  66108815.28  1.533519e+08
                8     20523201.96  66108815.28  58831184.88  1.738751e+08
                9     19525210.68  58831184.88  56986856.16  1.934003e+08
                10    16938443.52  56986856.16  55301178.36  2.103388e+08
                11    18837524.16  55301178.36  55341073.56  2.291763e+08
                12    19565105.88  55341073.56  65410117.80  2.487414e+08
          2011  1     27007487.76  65410117.80  78328301.52  2.757489e+08
                2     31755707.88  78328301.52  87169620.00  3.075046e+08
                3     28406424.36  87169620.00  91202942.64  3.359110e+08
                4     31040810.40  91202942.64  84237129.48  3.669519e+08
                5     24789894.72  84237129.48  84152788.08  3.917417e+08
                6     28322082.96  84152788.08  59331311.16  4.200638e+08
Argentine 2010  1      6219333.48  59331311.16  39488023.32  4.262832e+08
                2      4946606.88  39488023.32  17302195.92  4.312298e+08